<a href="https://colab.research.google.com/github/AlbericoJose/Coleta-e-Analise/blob/main/base_pet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coletando Arquivos

In [ ]:
import pandas as pd
import os
import numpy as np

In [ ]:
DIRETORIO = "C:\\Projetos\\coleta_dados_estruturados\\datasets\\BASE_PET\\"

In [ ]:
lista_df = [] # cria uma lista
lista_path = os.listdir(DIRETORIO)

In [ ]:
lista_path[:5]

['2020-01-01.csv',
 '2020-01-02.csv',
 '2020-01-03.csv',
 '2020-01-04.csv',
 '2020-01-05.csv']

In [ ]:
lista_df = [] # cria uma lista
for arquivo in lista_path:
    local_arquivo = os.path.join(DIRETORIO, arquivo)
    df = pd.read_csv(local_arquivo, sep='|', encoding='latin-1')
    lista_df.append(df)
    df_pet = pd.concat(lista_df) # atribui os dados coletados em um dataframe

In [ ]:
df_pet

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
...,...,...,...,...,...,...,...,...
1,10142475,2020-12-31,Masculino,1955-05-30,peixe,quente,Café,Praticar esporte
2,10142522,2020-12-31,Masculino,1954-12-22,peixe,moderado,Cerveja,Praticar esporte
3,10142881,2020-12-31,Masculino,1952-07-30,gato,frio,refrigerante,Assistir TV
4,10143184,2020-12-31,Masculino,1984-06-05,tartaruga,quente,refrigerante,Pintar quadros
5,10143307,2020-12-31,Masculino,1971-08-29,tartaruga,moderado,refrigerante,Pintar quadros

In [ ]:
df_pet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2127 entries, 0 to 5
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cod_pessoa        2127 non-null   int64
 1   data_coleta       2127 non-null   object
 2   genero            2127 non-null   object
 3   data_nascimento   2127 non-null   object
 4   animal_estimacao  2127 non-null   object
 5   clima             2127 non-null   object
 6   bebida_favorita   2127 non-null   object
 7   hobbies           2127 non-null   object
dtypes: int64(1), object(7)
memory usage: 149.6+ KB

# Exportando dados para arquivos

In [ ]:
#df_pet.to_csv(DIRETORIO + 'preferencias.csv', sep=';', encoding='latin-1', index=False)

# Armazenando os dados no banco de dados MySQL

In [ ]:
import MySQLdb
import sqlalchemy
import mysql.connector
import numpy as np

In [ ]:
user = 'root'
password = 'root'
host = 'localhost'
database = 'preferenciasigti'
string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao # testar string de conexão com o banco de dados

'mysql://root:root@localhost/preferenciasigti'

In [ ]:
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [ ]:
df_pessoa = df_pet[['cod_pessoa', 'genero', 'data_nascimento']].drop_duplicates().dropna()
df_hobbie = list(df_pet.hobbies.unique())
df_animal_estimacao = list(df_pet.animal_estimacao.unique())
df_bebida = list(df_pet.bebida_favorita.unique())
df_clima = list(df_pet.clima.unique())
#df_pesquisa = list(df_pet.data_coleta.unique())
#df_pesquisa = df_pet[['cod_pessoa', 'data_coleta']].drop_duplicates()

In [ ]:
df_pessoa

    cod_pessoa     genero data_nascimento
0     10141743  Masculino      1981-04-25
1     10141860   Feminino      1966-01-19
2     10142548  Masculino      1973-08-02
3     10142591  Masculino      1997-03-05
4     10142654   Feminino      1969-08-05
..         ...        ...             ...
1     10142475  Masculino      1955-05-30
2     10142522  Masculino      1954-12-22
3     10142881  Masculino      1952-07-30
4     10143184  Masculino      1984-06-05
5     10143307  Masculino      1971-08-29

[2127 rows x 3 columns]

In [ ]:
df_hobbie

['Praticar esporte',
 'Assistir TV',
 'Ler livros',
 'Aprender algo novo',
 'Escrever',
 'Pintar quadros',
 'Dormir',
 'Escutar música']

In [ ]:
# for pesquisa in df_pesquisa[:3].itertuples():
#     print(pesquisa)

In [ ]:
for pessoa in df_pessoa[:3].itertuples():
    print(pessoa)

Pandas(Index=0, cod_pessoa=10141743, genero='Masculino', data_nascimento='1981-04-25')
Pandas(Index=1, cod_pessoa=10141860, genero='Feminino', data_nascimento='1966-01-19')
Pandas(Index=2, cod_pessoa=10142548, genero='Masculino', data_nascimento='1973-08-02')

In [ ]:
for pessoa in df_pessoa.itertuples():
    cod_pessoa = pessoa.cod_pessoa
    genero = pessoa.genero
    data_nascimento = str(pessoa.data_nascimento)
    try:
        query = f"""insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('{cod_pessoa}', '{genero}', '{data_nascimento}')"""
        conn.execute(query)
        print(f"Registro inserido com sucesso: {cod_pessoa}")
    except Exception as e:
        print(f"Não foi possível inserir o registro{cod_pessoa}. O erro encontrado doi {e}")

Não foi possível inserir o registro10141743. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141743' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141743', 'Masculino', '1981-04-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141860. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141860' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141860', 'Feminino', '1966-01-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142548. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142548' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142548', 'Masculino', '1973-08-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142591. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142591' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142591', 'Masculino', '1997-03-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142654. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142654' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142654', 'Feminino', '1969-08-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141523. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141523' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141523', 'Feminino', '1998-09-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141996. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141996' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141996', 'Feminino', '1973-03-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142089. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142089' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142089', 'Feminino', '1970-03-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142145. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142145' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142145', 'Masculino', '1998-08-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142520. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142520' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142520', 'Masculino', '1994-05-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143160. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143160' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143160', 'Feminino', '1967-09-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141712. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141712' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141712', 'Masculino', '1951-08-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141987. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141987' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141987', 'Feminino', '1978-04-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142093. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142093' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142093', 'Masculino', '1986-09-03')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142325. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142325' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142325', 'Masculino', '1965-10-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142552. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142552' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142552', 'Masculino', '1982-06-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142598. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142598' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142598', 'Masculino', '1953-09-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143013. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143013' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143013', 'Masculino', '1959-04-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141570. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141570' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141570', 'Feminino', '1953-11-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141851. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141851' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141851', 'Feminino', '1977-10-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141938. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141938' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141938', 'Feminino', '1957-03-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142733. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142733' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142733', 'Masculino', '1978-01-12')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142851. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142851' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142851', 'Masculino', '1982-12-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142941. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142941' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142941', 'Masculino', '1966-04-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143484. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143484' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143484', 'Masculino', '1976-05-31')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141877. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141877' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141877', 'Feminino', '1963-05-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142310. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142310' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142310', 'Masculino', '1978-08-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142471. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142471' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142471', 'Masculino', '1979-02-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142597. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142597' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142597', 'Masculino', '1981-07-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143070. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143070' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143070', 'Masculino', '1989-09-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143526. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143526' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143526', 'Feminino', '1964-05-10')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141671. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141671' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141671', 'Feminino', '1963-12-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142969. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142969' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142969', 'Feminino', '1956-04-03')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143233. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143233' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143233', 'Masculino', '1987-02-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141745. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141745' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141745', 'Masculino', '1982-10-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141826. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141826' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141826', 'Feminino', '1973-01-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142330. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142330' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142330', 'Masculino', '1982-03-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142711. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142711' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142711', 'Masculino', '1960-06-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143397. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143397' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143397', 'Feminino', '1972-10-31')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141581. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141581' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141581', 'Feminino', '1978-09-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141733. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141733' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141733', 'Feminino', '1976-07-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141836. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141836' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141836', 'Feminino', '1978-04-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141862. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141862' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141862', 'Feminino', '1985-10-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143185. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143185' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143185', 'Masculino', '1958-11-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143284. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143284' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143284', 'Masculino', '1979-12-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143286. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143286' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143286', 'Masculino', '1988-10-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141861. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141861' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141861', 'Feminino', '1957-03-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142291. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142291' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142291', 'Masculino', '1998-06-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142360. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142360' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142360', 'Masculino', '1974-03-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142498. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142498' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142498', 'Masculino', '1974-04-12')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142687. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142687' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142687', 'Masculino', '1954-08-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142984. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142984' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142984', 'Masculino', '1958-11-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143351. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143351' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143351', 'Masculino', '1959-06-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143396. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143396' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143396', 'Masculino', '1973-03-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143608. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143608' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143608', 'Feminino', '1953-12-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141521. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141521' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141521', 'Feminino', '1984-03-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141653. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141653' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141653', 'Feminino', '1957-11-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142206. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142206' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142206', 'Masculino', '1997-09-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

Não foi possível inserir o registro10142525. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142525' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142525', 'Masculino', '1957-01-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143277. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143277' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143277', 'Feminino', '1959-11-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141945. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141945' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141945', 'Feminino', '1953-10-30')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142043. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142043' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142043', 'Masculino', '1999-05-30')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142519. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142519' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142519', 'Masculino', '1992-12-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143475. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143475' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143475', 'Feminino', '1991-12-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143613. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143613' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143613', 'Feminino', '1982-11-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141792. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141792' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141792', 'Feminino', '1988-12-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142112. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142112' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142112', 'Masculino', '1997-07-07')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142388. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142388' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142388', 'Masculino', '1984-09-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142876. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142876' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142876', 'Masculino', '1983-03-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142990. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142990' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142990', 'Masculino', '1964-04-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143163. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143163' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143163', 'Feminino', '1970-03-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141673. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141673' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141673', 'Feminino', '1966-09-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142268. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142268' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142268', 'Masculino', '1969-02-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142756. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142756' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142756', 'Masculino', '1969-05-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142867. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142867' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142867', 'Masculino', '1963-03-12')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143045. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143045' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143045', 'Masculino', '1970-01-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143424. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143424' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143424', 'Masculino', '1993-01-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142023. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142023' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142023', 'Feminino', '1995-09-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142061. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142061' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142061', 'Masculino', '1953-07-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142545. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142545' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142545', 'Masculino', '1960-12-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143092. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143092' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143092', 'Masculino', '1970-07-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142051. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142051' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142051', 'Feminino', '1973-09-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142540. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142540' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142540', 'Masculino', '1980-06-12')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143157. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143157' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143157', 'Masculino', '1951-03-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143276. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143276' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143276', 'Feminino', '1969-09-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142588. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142588' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142588', 'Masculino', '1993-10-03')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142976. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142976' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142976', 'Masculino', '1991-02-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143146. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143146' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143146', 'Feminino', '1979-04-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143154. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143154' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143154', 'Feminino', '1998-03-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143323. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143323' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143323', 'Masculino', '1995-07-31')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142512. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142512' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142512', 'Masculino', '1979-11-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142668. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142668' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142668', 'Masculino', '1998-04-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142685. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142685' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142685', 'Masculino', '1976-03-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143086. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143086' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143086', 'Masculino', '1960-05-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143113. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143113' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143113', 'Masculino', '1958-12-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143253. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143253' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143253', 'Masculino', '1974-03-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141565. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141565' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141565', 'Feminino', '1977-02-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142079. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142079' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142079', 'Masculino', '1982-12-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142232. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142232' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142232', 'Masculino', '1983-01-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142572. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142572' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142572', 'Masculino', '1963-02-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142640. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142640' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142640', 'Feminino', '1987-07-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142750. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142750' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142750', 'Masculino', '1954-05-31')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142918. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142918' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142918', 'Masculino', '1961-10-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142987. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142987' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142987', 'Masculino', '1976-10-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143060. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143060' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143060', 'Masculino', '1997-11-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143120. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143120' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143120', 'Feminino', '1965-08-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142253. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142253' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142253', 'Masculino', '1997-01-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142335. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142335' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142335', 'Masculino', '1951-05-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142369. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142369' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142369', 'Masculino', '1954-11-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142511. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142511' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142511', 'Masculino', '1971-11-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143436. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143436' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143436', 'Feminino', '1976-10-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141679. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141679' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141679', 'Masculino', '1950-10-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142041. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142041' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142041', 'Masculino', '1977-07-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142638. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142638' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142638', 'Feminino', '1982-03-03')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143389. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143389' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143389', 'Masculino', '1965-03-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141710. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141710' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141710', 'Masculino', '1990-04-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

Não foi possível inserir o registro10142212. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142212' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142212', 'Masculino', '1995-05-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142399. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142399' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142399', 'Masculino', '1999-10-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142501. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142501' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142501', 'Masculino', '1977-06-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142980. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142980' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142980', 'Masculino', '1978-08-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143192. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143192' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143192', 'Masculino', '1971-02-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143207. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143207' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143207', 'Masculino', '1980-10-30')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142396. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142396' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142396', 'Masculino', '1977-12-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143052. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143052' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143052', 'Masculino', '1966-06-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143153. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143153' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143153', 'Feminino', '1988-04-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143374. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143374' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143374', 'Masculino', '1993-06-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143446. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143446' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143446', 'Feminino', '1957-08-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143560. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143560' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143560', 'Masculino', '1967-08-31')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141614. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141614' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141614', 'Feminino', '1971-12-12')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141690. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141690' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141690', 'Feminino', '1988-04-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142482. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142482' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142482', 'Masculino', '1961-04-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143021. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143021' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143021', 'Masculino', '1951-09-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143155. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143155' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143155', 'Masculino', '1969-10-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143317. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143317' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143317', 'Feminino', '1997-02-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143404. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143404' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143404', 'Feminino', '1973-01-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143620. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143620' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143620', 'Masculino', '1965-10-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141805. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141805' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141805', 'Feminino', '1990-12-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141957. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141957' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141957', 'Feminino', '1985-05-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142493. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142493' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142493', 'Masculino', '1974-12-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141514. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141514' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141514', 'Masculino', '1999-01-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141661. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141661' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141661', 'Feminino', '1966-02-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142326. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142326' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142326', 'Masculino', '1999-12-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142648. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142648' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142648', 'Feminino', '1953-05-12')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141744. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141744' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141744', 'Masculino', '1974-08-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141827. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141827' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141827', 'Feminino', '1959-07-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142012. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142012' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142012', 'Feminino', '1973-09-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142777. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142777' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142777', 'Masculino', '1992-08-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142844. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142844' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142844', 'Masculino', '1975-03-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141631. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141631' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141631', 'Feminino', '1960-11-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142090. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142090' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142090', 'Masculino', '1997-09-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142549. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142549' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142549', 'Masculino', '1951-11-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142667. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142667' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142667', 'Masculino', '1965-12-31')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142704. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142704' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142704', 'Masculino', '1991-05-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142738. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142738' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142738', 'Masculino', '1967-01-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142933. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142933' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142933', 'Masculino', '1962-03-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143010. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143010' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143010', 'Masculino', '1988-05-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143088. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143088' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143088', 'Masculino', '1976-12-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143189. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143189' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143189', 'Masculino', '1986-05-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143455. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143455' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143455', 'Feminino', '1956-10-10')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141903. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141903' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141903', 'Feminino', '1978-02-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142496. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142496' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142496', 'Masculino', '1978-11-07')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142633. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142633' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142633', 'Feminino', '1981-03-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142662. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142662' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142662', 'Masculino', '1954-09-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142841. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142841' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142841', 'Masculino', '1983-11-30')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143076. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143076' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143076', 'Masculino', '1998-09-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143617. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143617' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143617', 'Masculino', '1962-06-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141585. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141585' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141585', 'Feminino', '1979-08-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141825. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141825' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141825', 'Feminino', '1954-08-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142067. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142067' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142067', 'Feminino', '1974-03-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142797. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142797' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142797', 'Masculino', '1962-01-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142920. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142920' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142920', 'Masculino', '1985-07-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143090. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143090' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143090', 'Masculino', '1990-04-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143385. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143385' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143385', 'Feminino', '1952-05-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143441. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143441' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143441', 'Masculino', '1956-02-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

Não foi possível inserir o registro10142159. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142159' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142159', 'Masculino', '1969-04-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142889. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142889' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142889', 'Masculino', '1997-06-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143473. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143473' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143473', 'Feminino', '1987-06-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143616. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143616' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143616', 'Masculino', '1999-04-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142289. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142289' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142289', 'Masculino', '1990-02-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142373. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142373' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142373', 'Masculino', '1983-04-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142673. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142673' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142673', 'Masculino', '1999-12-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143300. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143300' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143300', 'Feminino', '1994-02-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141767. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141767' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141767', 'Masculino', '1956-11-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141866. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141866' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141866', 'Feminino', '1978-04-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141937. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141937' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141937', 'Feminino', '1979-06-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142676. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142676' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142676', 'Masculino', '1951-05-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142739. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142739' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142739', 'Masculino', '1971-04-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143291. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143291' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143291', 'Masculino', '1989-01-07')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141807. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141807' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141807', 'Feminino', '1968-01-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141808. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141808' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141808', 'Feminino', '1964-08-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141932. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141932' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141932', 'Feminino', '1959-05-30')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142312. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142312' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142312', 'Masculino', '1952-04-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142322. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142322' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142322', 'Masculino', '1982-05-30')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142535. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142535' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142535', 'Masculino', '1995-11-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142710. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142710' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142710', 'Masculino', '1968-06-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142883. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142883' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142883', 'Masculino', '1955-04-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143193. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143193' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143193', 'Masculino', '1982-01-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143315. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143315' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143315', 'Feminino', '1966-10-12')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143377. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143377' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143377', 'Masculino', '1995-07-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142489. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142489' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142489', 'Masculino', '1974-10-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143003. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143003' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143003', 'Masculino', '1985-12-10')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143328. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143328' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143328', 'Masculino', '1998-05-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142184. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142184' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142184', 'Masculino', '1990-02-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143258. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143258' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143258', 'Masculino', '1999-07-03')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141616. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141616' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141616', 'Feminino', '1982-07-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142384. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142384' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142384', 'Masculino', '1990-10-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142646. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142646' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142646', 'Feminino', '1994-05-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142882. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142882' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142882', 'Masculino', '1974-11-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142898. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142898' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142898', 'Masculino', '1995-12-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143349. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143349' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143349', 'Feminino', '1962-09-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143435. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143435' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143435', 'Feminino', '1980-05-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141516. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141516' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141516', 'Feminino', '1966-03-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141828. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141828' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141828', 'Feminino', '1964-12-30')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142102. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142102' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142102', 'Feminino', '1962-07-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142637. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142637' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142637', 'Feminino', '1951-09-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143242. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143242' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143242', 'Masculino', '1999-05-30')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142561. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142561' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142561', 'Masculino', '1992-01-12')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142954. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142954' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142954', 'Masculino', '1999-05-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143177. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143177' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143177', 'Masculino', '1972-11-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143525. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143525' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143525', 'Feminino', '1969-03-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141773. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141773' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141773', 'Feminino', '1999-11-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142073. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142073' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142073', 'Masculino', '1950-03-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142381. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142381' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142381', 'Masculino', '1963-04-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142546. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142546' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142546', 'Masculino', '1971-06-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142742. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142742' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142742', 'Masculino', '1987-03-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143593. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143593' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143593', 'Feminino', '1954-05-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142138. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142138' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142138', 'Feminino', '1950-02-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142168. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142168' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142168', 'Masculino', '1993-07-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142337. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142337' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142337', 'Masculino', '1969-01-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142370. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142370' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142370', 'Masculino', '1981-01-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142415. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142415' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142415', 'Masculino', '1987-06-30')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142659. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142659' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142659', 'Masculino', '1979-12-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

Não foi possível inserir o registro10141651. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141651' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141651', 'Feminino', '1977-05-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142846. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142846' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142846', 'Masculino', '1996-09-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142857. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142857' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142857', 'Masculino', '1964-09-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143505. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143505' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143505', 'Masculino', '1971-04-30')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142278. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142278' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142278', 'Masculino', '1994-03-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142411. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142411' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142411', 'Masculino', '1958-02-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141522. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141522' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141522', 'Masculino', '1972-04-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141566. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141566' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141566', 'Feminino', '1976-11-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141627. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141627' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141627', 'Feminino', '1987-10-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141670. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141670' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141670', 'Feminino', '1975-03-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141841. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141841' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141841', 'Feminino', '1973-02-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141855. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141855' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141855', 'Feminino', '1976-05-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141867. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141867' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141867', 'Feminino', '1963-07-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142146. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142146' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142146', 'Masculino', '1991-04-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142486. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142486' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142486', 'Masculino', '1950-10-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142905. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142905' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142905', 'Masculino', '1983-10-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142927. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142927' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142927', 'Masculino', '1970-05-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143058. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143058' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143058', 'Masculino', '1960-07-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143102. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143102' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143102', 'Masculino', '1984-06-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141979. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141979' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141979', 'Feminino', '1977-03-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142000. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142000' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142000', 'Feminino', '1980-06-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142017. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142017' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142017', 'Masculino', '1966-04-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142276. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142276' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142276', 'Masculino', '1955-10-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142413. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142413' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142413', 'Masculino', '1980-08-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142476. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142476' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142476', 'Masculino', '1974-11-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142518. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142518' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142518', 'Masculino', '1966-12-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142563. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142563' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142563', 'Masculino', '1962-11-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143093. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143093' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143093', 'Masculino', '1991-01-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143469. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143469' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143469', 'Feminino', '1989-04-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143561. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143561' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143561', 'Masculino', '1969-10-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141548. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141548' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141548', 'Feminino', '1961-12-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141924. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141924' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141924', 'Feminino', '1971-02-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142081. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142081' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142081', 'Masculino', '1985-03-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142438. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142438' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142438', 'Masculino', '1968-08-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142613. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142613' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142613', 'Feminino', '1985-01-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143212. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143212' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143212', 'Masculino', '1980-02-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143605. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143605' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143605', 'Feminino', '1978-12-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142365. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142365' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142365', 'Masculino', '1991-12-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142464. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142464' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142464', 'Masculino', '1967-12-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142527. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142527' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142527', 'Masculino', '1968-08-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142835. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142835' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142835', 'Masculino', '1997-07-31')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143570. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143570' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143570', 'Feminino', '1986-01-07')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142618. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142618' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142618', 'Masculino', '1997-09-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143004. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143004' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143004', 'Masculino', '1985-07-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141513. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141513' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141513', 'Masculino', '1957-08-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141579. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141579' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141579', 'Feminino', '1998-11-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141801. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141801' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141801', 'Feminino', '1968-10-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141940. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141940' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141940', 'Feminino', '1998-10-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143108. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143108' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143108', 'Masculino', '1953-04-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143247. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143247' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143247', 'Masculino', '1993-04-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143539. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143539' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143539', 'Masculino', '1998-02-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141814. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141814' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141814', 'Feminino', '1969-09-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142342. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142342' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142342', 'Masculino', '1950-02-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142862. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142862' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142862', 'Masculino', '1957-05-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143329. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143329' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143329', 'Masculino', '1994-04-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143394. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143394' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143394', 'Masculino', '1971-04-30')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141693. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141693' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141693', 'Feminino', '1991-03-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142263. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142263' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142263', 'Masculino', '1962-11-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

Não foi possível inserir o registro10142847. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142847' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142847', 'Masculino', '1957-10-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141823. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141823' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141823', 'Feminino', '1993-08-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141953. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141953' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141953', 'Feminino', '1966-06-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141988. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141988' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141988', 'Feminino', '1998-07-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142221. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142221' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142221', 'Masculino', '1954-12-10')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142830. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142830' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142830', 'Masculino', '1957-01-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143494. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143494' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143494', 'Masculino', '1996-06-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143607. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143607' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143607', 'Feminino', '1999-03-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141599. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141599' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141599', 'Feminino', '1989-05-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142255. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142255' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142255', 'Masculino', '1998-05-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142467. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142467' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142467', 'Masculino', '1971-04-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142582. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142582' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142582', 'Masculino', '1972-05-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142675. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142675' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142675', 'Masculino', '1977-09-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143453. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143453' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143453', 'Feminino', '1973-02-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141511. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141511' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141511', 'Masculino', '1995-12-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142034. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142034' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142034', 'Feminino', '1968-11-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142909. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142909' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142909', 'Masculino', '1977-08-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142118. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142118' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142118', 'Feminino', '1954-03-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142724. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142724' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142724', 'Masculino', '1968-10-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142803. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142803' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142803', 'Masculino', '1956-04-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142834. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142834' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142834', 'Masculino', '1998-12-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143214. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143214' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143214', 'Masculino', '1989-06-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143588. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143588' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143588', 'Feminino', '1966-03-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141711. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141711' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141711', 'Masculino', '1952-08-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142038. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142038' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142038', 'Feminino', '1956-01-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142217. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142217' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142217', 'Masculino', '1956-06-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142251. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142251' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142251', 'Masculino', '1951-11-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142436. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142436' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142436', 'Masculino', '1971-03-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142719. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142719' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142719', 'Masculino', '1962-06-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142764. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142764' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142764', 'Masculino', '1994-11-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141684. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141684' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141684', 'Masculino', '1980-01-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143053. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143053' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143053', 'Masculino', '1966-07-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141525. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141525' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141525', 'Feminino', '1984-01-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141603. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141603' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141603', 'Feminino', '1994-06-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141619. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141619' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141619', 'Feminino', '1964-01-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142157. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142157' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142157', 'Masculino', '1957-06-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142174. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142174' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142174', 'Masculino', '1979-06-07')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143099. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143099' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143099', 'Masculino', '1993-08-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143162. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143162' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143162', 'Feminino', '1960-07-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143513. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143513' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143513', 'Masculino', '1989-01-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141535. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141535' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141535', 'Feminino', '1957-07-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142449. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142449' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142449', 'Masculino', '1969-12-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142735. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142735' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142735', 'Masculino', '1978-11-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143016. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143016' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143016', 'Masculino', '1988-12-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143094. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143094' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143094', 'Masculino', '1980-05-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143232. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143232' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143232', 'Masculino', '1960-01-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141639. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141639' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141639', 'Feminino', '1992-08-07')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141736. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141736' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141736', 'Feminino', '1973-11-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142718. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142718' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142718', 'Masculino', '1987-12-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143387. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143387' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143387', 'Masculino', '1956-10-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143443. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143443' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143443', 'Feminino', '1992-10-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141524. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141524' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141524', 'Masculino', '1994-10-31')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141633. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141633' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141633', 'Feminino', '1991-03-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142293. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142293' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142293', 'Masculino', '1970-02-07')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143602. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143602' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143602', 'Feminino', '1969-08-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141645. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141645' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141645', 'Feminino', '1978-12-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141785. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141785' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141785', 'Feminino', '1967-07-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142153. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142153' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142153', 'Masculino', '1966-07-07')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

Não foi possível inserir o registro10143503. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143503' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143503', 'Masculino', '1973-05-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143551. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143551' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143551', 'Masculino', '1985-05-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142644. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142644' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142644', 'Feminino', '1999-09-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142843. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142843' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142843', 'Masculino', '1992-02-10')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141847. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141847' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141847', 'Masculino', '1987-06-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142224. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142224' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142224', 'Masculino', '1975-10-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142824. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142824' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142824', 'Masculino', '1963-01-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143183. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143183' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143183', 'Masculino', '1989-03-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143571. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143571' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143571', 'Masculino', '1988-08-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142027. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142027' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142027', 'Feminino', '1957-01-07')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142190. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142190' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142190', 'Masculino', '1965-04-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142350. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142350' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142350', 'Masculino', '1968-08-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142755. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142755' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142755', 'Masculino', '1981-03-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143105. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143105' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143105', 'Masculino', '1953-07-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143116. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143116' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143116', 'Masculino', '1956-06-07')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143584. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143584' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143584', 'Feminino', '1992-09-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141506. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141506' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141506', 'Masculino', '1982-12-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142387. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142387' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142387', 'Masculino', '1996-07-12')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142390. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142390' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142390', 'Masculino', '1998-03-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142487. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142487' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142487', 'Masculino', '1996-06-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143235. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143235' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143235', 'Masculino', '1975-03-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143303. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143303' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143303', 'Masculino', '1956-06-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143417. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143417' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143417', 'Masculino', '1976-11-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143604. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143604' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143604', 'Masculino', '1962-02-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142047. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142047' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142047', 'Feminino', '1996-11-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142239. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142239' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142239', 'Masculino', '1995-04-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142583. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142583' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142583', 'Masculino', '1983-09-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142838. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142838' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142838', 'Masculino', '1982-08-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143101. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143101' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143101', 'Masculino', '1999-02-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143344. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143344' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143344', 'Masculino', '1967-06-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141682. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141682' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141682', 'Feminino', '1953-07-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142234. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142234' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142234', 'Masculino', '1953-10-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142355. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142355' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142355', 'Masculino', '1999-06-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142510. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142510' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142510', 'Masculino', '1995-08-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143068. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143068' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143068', 'Masculino', '1968-03-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143170. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143170' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143170', 'Feminino', '1966-06-10')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143517. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143517' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143517', 'Masculino', '1978-07-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141623. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141623' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141623', 'Feminino', '1986-03-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141974. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141974' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141974', 'Feminino', '1970-11-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142213. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142213' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142213', 'Masculino', '1963-08-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142457. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142457' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142457', 'Masculino', '1978-11-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142490. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142490' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142490', 'Masculino', '1977-02-12')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143083. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143083' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143083', 'Masculino', '1957-03-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143254. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143254' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143254', 'Masculino', '1963-03-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143479. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143479' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143479', 'Masculino', '1960-12-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141725. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141725' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141725', 'Feminino', '1986-11-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141731. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141731' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141731', 'Feminino', '1995-09-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141800. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141800' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141800', 'Feminino', '1951-06-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141852. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141852' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141852', 'Feminino', '1950-07-04')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142045. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142045' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142045', 'Feminino', '1959-06-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142147. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142147' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142147', 'Masculino', '1956-04-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142244. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142244' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142244', 'Masculino', '1972-04-03')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142331. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142331' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142331', 'Masculino', '1990-08-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143042. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143042' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143042', 'Masculino', '1973-07-28')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143215. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143215' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143215', 'Masculino', '1966-10-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141719. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141719' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141719', 'Feminino', '1986-09-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141868. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141868' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141868', 'Feminino', '1977-05-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141883. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141883' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141883', 'Feminino', '1981-03-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

Não foi possível inserir o registro10142078. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142078' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142078', 'Feminino', '1991-08-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142579. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142579' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142579', 'Masculino', '1994-07-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142829. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142829' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142829', 'Masculino', '1979-12-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141832. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141832' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141832', 'Feminino', '1954-01-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141870. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141870' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141870', 'Feminino', '1950-11-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141908. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141908' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141908', 'Feminino', '1982-10-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142379. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142379' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142379', 'Masculino', '1978-02-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142877. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142877' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142877', 'Masculino', '1997-05-21')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143149. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143149' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143149', 'Feminino', '1984-12-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143582. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143582' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143582', 'Masculino', '1974-05-01')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141909. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141909' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141909', 'Feminino', '1960-08-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141971. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141971' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141971', 'Feminino', '1965-04-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142007. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142007' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142007', 'Feminino', '1980-02-11')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142056. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142056' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142056', 'Feminino', '1973-06-12')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142722. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142722' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142722', 'Masculino', '1972-05-31')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142924. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142924' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142924', 'Masculino', '1971-09-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143383. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143383' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143383', 'Feminino', '1957-07-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141993. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141993' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141993', 'Feminino', '1990-06-23')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142586. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142586' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142586', 'Masculino', '1989-07-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142681. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142681' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142681', 'Masculino', '1978-05-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142787. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142787' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142787', 'Masculino', '1986-10-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143309. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143309' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143309', 'Masculino', '1961-12-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142005. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142005' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142005', 'Feminino', '1963-10-29')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142480. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142480' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142480', 'Masculino', '1984-07-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142955. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142955' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142955', 'Masculino', '1960-06-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143281. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143281' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143281', 'Feminino', '1953-08-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143585. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143585' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143585', 'Feminino', '1965-07-08')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141502. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141502' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141502', 'Masculino', '1998-06-27')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142536. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142536' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142536', 'Masculino', '1996-11-03')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142859. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142859' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142859', 'Masculino', '1987-09-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143308. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143308' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143308', 'Feminino', '1973-02-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143480. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143480' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143480', 'Masculino', '1981-03-25')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143520. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143520' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143520', 'Masculino', '1964-09-13')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143606. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143606' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143606', 'Feminino', '1951-05-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141562. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141562' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141562', 'Feminino', '1979-05-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141879. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141879' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141879', 'Feminino', '1991-05-18')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141915. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141915' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141915', 'Masculino', '1986-02-10')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141992. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141992' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141992', 'Feminino', '1981-09-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142240. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142240' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142240', 'Masculino', '1951-08-06')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142821. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142821' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142821', 'Masculino', '1958-06-22')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142840. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142840' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142840', 'Masculino', '1989-08-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142965. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142965' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142965', 'Masculino', '1991-08-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143527. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143527' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143527', 'Masculino', '1969-09-26')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143568. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143568' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143568', 'Feminino', '1998-07-14')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143599. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143599' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143599', 'Feminino', '1993-03-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141708. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141708' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141708', 'Feminino', '1977-03-17')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141804. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141804' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141804', 'Feminino', '1965-01-02')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141978. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141978' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141978', 'Feminino', '1991-11-10')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142122. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142122' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142122', 'Feminino', '1981-01-16')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142590. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142590' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142590', 'Masculino', '1959-05-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142643. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142643' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142643', 'Feminino', '1993-01-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143066. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143066' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143066', 'Masculino', '1962-02-15')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142402. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142402' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142402', 'Masculino', '1995-07-05')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142440. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142440' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142440', 'Masculino', '1977-11-24')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142775. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142775' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142775', 'Masculino', '1975-09-20')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10142801. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10142801' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10142801', 'Masculino', '1950-08-19')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10143165. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10143165' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10143165', 'Feminino', '1991-07-09')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)
Não foi possível inserir o registro10141986. O erro encontrado doi (MySQLdb.IntegrityError) (1062, "Duplicate entry '10141986' for key 'pessoa.PRIMARY'")
[SQL: insert into pessoa (cod_pessoa, genero, data_nascimento)
                    values('10141986', 'Feminino', '1986-07-07')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
for hobbie in df_hobbie:
    try:
        query = f"""insert into hobbie (hobbie)
                    values('{hobbie}')"""
        conn.execute(query)
        print(f"Registro inserido com sucesso: {hobbie}")
    except Exception as e:
            print(f"Não foi possível inserir o registro {hobbie}. O erro encontrado foi {e}")

Registro inserido com sucesso: Praticar esporte
Registro inserido com sucesso: Assistir TV
Registro inserido com sucesso: Ler livros
Registro inserido com sucesso: Aprender algo novo
Registro inserido com sucesso: Escrever
Registro inserido com sucesso: Pintar quadros
Registro inserido com sucesso: Dormir
Registro inserido com sucesso: Escutar música

In [ ]:
for animal in df_animal_estimacao:
    try:
        query = f"""insert into animal_estimacao (animal)
                    values('{animal}')"""
        conn.execute(query)
        print(f"Registro inserido com sucesso: {animal}")
    except Exception as e:
            print(f"Não foi possível inserir o registro {animal}. O erro encontrado foi {e}")

Registro inserido com sucesso: peixe
Registro inserido com sucesso: tartaruga
Registro inserido com sucesso: gato
Registro inserido com sucesso: cachorro

In [ ]:
for bebida in df_bebida:
    try:
        query = f"""insert into bebida (bebida)
                    values('{bebida}')"""
        conn.execute(query)
        print(f"Registro inserido com sucesso: {bebida}")
    except Exception as e:
            print(f"Não foi possível inserir o registro {bebida}. O erro encontrado foi {e}")

Registro inserido com sucesso: Cerveja
Registro inserido com sucesso: Café
Registro inserido com sucesso: refrigerante
Registro inserido com sucesso: Água
Registro inserido com sucesso: Vinho
Registro inserido com sucesso: Chá

In [ ]:
for clima in df_clima:
    try:
        query = f"""insert into clima (clima)
                    values('{clima}')"""
        conn.execute(query)
        print(f"Registro inserido com sucesso: {clima}")
    except Exception as e:
            print(f"Não foi possível inserir o registro {clima}. O erro encontrado foi {e}")

Registro inserido com sucesso: frio
Registro inserido com sucesso: quente
Registro inserido com sucesso: moderado

In [ ]:
hobbie_tabela = pd.read_sql('hobbie', con=conn)
hobbie_tabela

    cod_hobbie              hobbie
0            1    Praticar esporte
1            2         Assistir TV
2            3          Ler livros
3            4  Aprender algo novo
4            5            Escrever
5            6      Pintar quadros
6            7              Dormir
7            8      Escutar música
8            9    Praticar esporte
9           10         Assistir TV
10          11          Ler livros
11          12  Aprender algo novo
12          13            Escrever
13          14      Pintar quadros
14          15              Dormir
15          16      Escutar música

In [ ]:
dict_hobbie = hobbie_tabela.set_index(hobbie_tabela.hobbie)['cod_hobbie'].to_dict()
dict_hobbie

{'Praticar esporte': 9,
 'Assistir TV': 10,
 'Ler livros': 11,
 'Aprender algo novo': 12,
 'Escrever': 13,
 'Pintar quadros': 14,
 'Dormir': 15,
 'Escutar música': 16}

In [ ]:
df_pet.hobbies = df_pet.hobbies.map(dict_hobbie)
df_pet

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,9
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,10
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,11
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,12
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,10
...,...,...,...,...,...,...,...,...
1,10142475,2020-12-31,Masculino,1955-05-30,peixe,quente,Café,9
2,10142522,2020-12-31,Masculino,1954-12-22,peixe,moderado,Cerveja,9
3,10142881,2020-12-31,Masculino,1952-07-30,gato,frio,refrigerante,10
4,10143184,2020-12-31,Masculino,1984-06-05,tartaruga,quente,refrigerante,14
5,10143307,2020-12-31,Masculino,1971-08-29,tartaruga,moderado,refrigerante,14

In [ ]:
animal_estimacao_tabela = pd.read_sql('animal_estimacao', con=conn)
animal_estimacao_tabela

   cod_animal_estimacao     animal
0                     1      peixe
1                     2  tartaruga
2                     3       gato
3                     4   cachorro
4                     5      peixe
5                     6  tartaruga
6                     7       gato
7                     8   cachorro

In [ ]:
dict_animal_estimacao = animal_estimacao_tabela.set_index(animal_estimacao_tabela.animal)['cod_animal_estimacao'].to_dict()
dict_animal_estimacao

{'peixe': 5, 'tartaruga': 6, 'gato': 7, 'cachorro': 8}

In [ ]:
df_pet.animal_estimacao = df_pet.animal_estimacao.map(dict_animal_estimacao)
df_pet

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,5,frio,Cerveja,9
1,10141860,2020-01-01,Feminino,1966-01-19,5,quente,Café,10
2,10142548,2020-01-01,Masculino,1973-08-02,6,frio,Café,11
3,10142591,2020-01-01,Masculino,1997-03-05,7,moderado,Cerveja,12
4,10142654,2020-01-01,Feminino,1969-08-05,6,moderado,Café,10
...,...,...,...,...,...,...,...,...
1,10142475,2020-12-31,Masculino,1955-05-30,5,quente,Café,9
2,10142522,2020-12-31,Masculino,1954-12-22,5,moderado,Cerveja,9
3,10142881,2020-12-31,Masculino,1952-07-30,7,frio,refrigerante,10
4,10143184,2020-12-31,Masculino,1984-06-05,6,quente,refrigerante,14
5,10143307,2020-12-31,Masculino,1971-08-29,6,moderado,refrigerante,14

In [ ]:
bebida_tabela = pd.read_sql('bebida', con=conn)
bebida_tabela

    cod_bebida        bebida
0            1       Cerveja
1            2          Café
2            3  refrigerante
3            4          Água
4            5         Vinho
5            6           Chá
6            7       Cerveja
7            8          Café
8            9  refrigerante
9           10          Água
10          11         Vinho
11          12           Chá

In [ ]:
dict_bebida = bebida_tabela.set_index(bebida_tabela.bebida)['cod_bebida'].to_dict()
dict_bebida

{'Cerveja': 7,
 'Café': 8,
 'refrigerante': 9,
 'Água': 10,
 'Vinho': 11,
 'Chá': 12}

In [ ]:
df_pet.bebida_favorita = df_pet.bebida_favorita.map(dict_bebida)
df_pet

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,5,frio,7,9
1,10141860,2020-01-01,Feminino,1966-01-19,5,quente,8,10
2,10142548,2020-01-01,Masculino,1973-08-02,6,frio,8,11
3,10142591,2020-01-01,Masculino,1997-03-05,7,moderado,7,12
4,10142654,2020-01-01,Feminino,1969-08-05,6,moderado,8,10
...,...,...,...,...,...,...,...,...
1,10142475,2020-12-31,Masculino,1955-05-30,5,quente,8,9
2,10142522,2020-12-31,Masculino,1954-12-22,5,moderado,7,9
3,10142881,2020-12-31,Masculino,1952-07-30,7,frio,9,10
4,10143184,2020-12-31,Masculino,1984-06-05,6,quente,9,14
5,10143307,2020-12-31,Masculino,1971-08-29,6,moderado,9,14

In [ ]:
clima_tabela = pd.read_sql('clima', con=conn)
clima_tabela

   cod_clima     clima
0          1      frio
1          2    quente
2          3  moderado
3          4      frio
4          5    quente
5          6  moderado

In [ ]:
dict_clima = clima_tabela.set_index(clima_tabela.clima)['cod_clima'].to_dict()
dict_clima

{'frio': 4, 'quente': 5, 'moderado': 6}

In [ ]:
df_pet.clima = df_pet.clima.map(dict_clima)
df_pet

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,5,4,7,9
1,10141860,2020-01-01,Feminino,1966-01-19,5,5,8,10
2,10142548,2020-01-01,Masculino,1973-08-02,6,4,8,11
3,10142591,2020-01-01,Masculino,1997-03-05,7,6,7,12
4,10142654,2020-01-01,Feminino,1969-08-05,6,6,8,10
...,...,...,...,...,...,...,...,...
1,10142475,2020-12-31,Masculino,1955-05-30,5,5,8,9
2,10142522,2020-12-31,Masculino,1954-12-22,5,6,7,9
3,10142881,2020-12-31,Masculino,1952-07-30,7,4,9,10
4,10143184,2020-12-31,Masculino,1984-06-05,6,5,9,14
5,10143307,2020-12-31,Masculino,1971-08-29,6,6,9,14

In [ ]:
df_pet = df_pet.rename(columns={'animal_estimacao' : 'cod_animal_estimacao', 'clima' : 'cod_clima', 'bebida_favorita' : 'cod_bebida', 'hobbies' : 'cod_hobbies'})
df_pet

,cod_pessoa,data_coleta,genero,data_nascimento,cod_animal_estimacao,cod_clima,cod_bebida,cod_hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,5,4,7,9
1,10141860,2020-01-01,Feminino,1966-01-19,5,5,8,10
2,10142548,2020-01-01,Masculino,1973-08-02,6,4,8,11
3,10142591,2020-01-01,Masculino,1997-03-05,7,6,7,12
4,10142654,2020-01-01,Feminino,1969-08-05,6,6,8,10
...,...,...,...,...,...,...,...,...
1,10142475,2020-12-31,Masculino,1955-05-30,5,5,8,9
2,10142522,2020-12-31,Masculino,1954-12-22,5,6,7,9
3,10142881,2020-12-31,Masculino,1952-07-30,7,4,9,10
4,10143184,2020-12-31,Masculino,1984-06-05,6,5,9,14
5,10143307,2020-12-31,Masculino,1971-08-29,6,6,9,14

In [ ]:
df_pesquisa = df_pet
df_pesquisa

,cod_pessoa,data_coleta,genero,data_nascimento,cod_animal_estimacao,cod_clima,cod_bebida,cod_hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,5,4,7,9
1,10141860,2020-01-01,Feminino,1966-01-19,5,5,8,10
2,10142548,2020-01-01,Masculino,1973-08-02,6,4,8,11
3,10142591,2020-01-01,Masculino,1997-03-05,7,6,7,12
4,10142654,2020-01-01,Feminino,1969-08-05,6,6,8,10
...,...,...,...,...,...,...,...,...
1,10142475,2020-12-31,Masculino,1955-05-30,5,5,8,9
2,10142522,2020-12-31,Masculino,1954-12-22,5,6,7,9
3,10142881,2020-12-31,Masculino,1952-07-30,7,4,9,10
4,10143184,2020-12-31,Masculino,1984-06-05,6,5,9,14
5,10143307,2020-12-31,Masculino,1971-08-29,6,6,9,14

In [ ]:
from datetime import datetime

In [ ]:
for pesquisa in df_pesquisa.itertuples():
    cod_pessoa = pesquisa.cod_pessoa
    #genero = pesquisa.genero
    #data_nascimento = str(pesquisa.data_nascimento)
    cod_animal_estimacao = pesquisa.cod_animal_estimacao
    cod_clima = pesquisa.cod_clima
    cod_bebida = pesquisa.cod_bebida
    cod_hobbie = pesquisa.cod_hobbies
    data_pesquisa = str(pesquisa.data_coleta)
    try:
        query = f"""insert into pesquisa (data_pesquisa, cod_pessoa, cod_animal_estimacao, cod_bebida, cod_clima, cod_hobbie)
                                 values('{data_pesquisa}', '{cod_pessoa}', '{cod_animal_estimacao}', '{cod_bebida}', '{cod_clima}', '{cod_hobbie}')"""
        conn.execute(query)
        print(f"Registro inserido com sucesso: {cod_pessoa}")
    except Exception as e:
        print(f"Não foi possível inserir o registro{cod_pessoa}. O erro encontrado doi {e}")

Registro inserido com sucesso: 10141743
Registro inserido com sucesso: 10141860
Registro inserido com sucesso: 10142548
Registro inserido com sucesso: 10142591
Registro inserido com sucesso: 10142654
Registro inserido com sucesso: 10141523
Registro inserido com sucesso: 10141996
Registro inserido com sucesso: 10142089
Registro inserido com sucesso: 10142145
Registro inserido com sucesso: 10142520
Registro inserido com sucesso: 10143160
Registro inserido com sucesso: 10141712
Registro inserido com sucesso: 10141987
Registro inserido com sucesso: 10142093
Registro inserido com sucesso: 10142325
Registro inserido com sucesso: 10142552
Registro inserido com sucesso: 10142598
Registro inserido com sucesso: 10143013
Registro inserido com sucesso: 10141570
Registro inserido com sucesso: 10141851
Registro inserido com sucesso: 10141938
Registro inserido com sucesso: 10142733
Registro inserido com sucesso: 10142851
Registro inserido com sucesso: 10142941
Registro inserido com sucesso: 10143484
Registro inserido com sucesso: 10141877
Registro inserido com sucesso: 10142310
Registro inserido com sucesso: 10142471
Registro inserido com sucesso: 10142597
Registro inserido com sucesso: 10143070
Registro inserido com sucesso: 10143526
Registro inserido com sucesso: 10141671
Registro inserido com sucesso: 10142969
Registro inserido com sucesso: 10143233
Registro inserido com sucesso: 10141745
Registro inserido com sucesso: 10141826
Registro inserido com sucesso: 10142330
Registro inserido com sucesso: 10142711
Registro inserido com sucesso: 10143397
Registro inserido com sucesso: 10141581
Registro inserido com sucesso: 10141733
Registro inserido com sucesso: 10141836
Registro inserido com sucesso: 10141862
Registro inserido com sucesso: 10143185
Registro inserido com sucesso: 10143284
Registro inserido com sucesso: 10143286
Registro inserido com sucesso: 10141861
Registro inserido com sucesso: 10142291
Registro inserido com sucesso: 10142360
Registro inserido com sucesso: 10142498
Registro inserido com sucesso: 10142687
Registro inserido com sucesso: 10142984
Registro inserido com sucesso: 10143351
Registro inserido com sucesso: 10143396
Registro inserido com sucesso: 10143608
Registro inserido com sucesso: 10141521
Registro inserido com sucesso: 10141653
Registro inserido com sucesso: 10142206
Registro inserido com sucesso: 10142556
Registro inserido com sucesso: 10142828
Registro inserido com sucesso: 10143119
Registro inserido com sucesso: 10143472
Registro inserido com sucesso: 10141942
Registro inserido com sucesso: 10142080
Registro inserido com sucesso: 10142218
Registro inserido com sucesso: 10142782
Registro inserido com sucesso: 10142939
Registro inserido com sucesso: 10143031
Registro inserido com sucesso: 10143579
Registro inserido com sucesso: 10141504
Registro inserido com sucesso: 10141607
Registro inserido com sucesso: 10141999
Registro inserido com sucesso: 10142201
Registro inserido com sucesso: 10142266
Registro inserido com sucesso: 10142925
Registro inserido com sucesso: 10143169
Registro inserido com sucesso: 10141518
Registro inserido com sucesso: 10142083
Registro inserido com sucesso: 10142537
Registro inserido com sucesso: 10142628
Registro inserido com sucesso: 10142815
Registro inserido com sucesso: 10142923
Registro inserido com sucesso: 10141822
Registro inserido com sucesso: 10142560
Registro inserido com sucesso: 10142562
Registro inserido com sucesso: 10142773
Registro inserido com sucesso: 10142931
Registro inserido com sucesso: 10143028
Registro inserido com sucesso: 10143140
Registro inserido com sucesso: 10143199
Registro inserido com sucesso: 10142171
Registro inserido com sucesso: 10142179
Registro inserido com sucesso: 10142530
Registro inserido com sucesso: 10143547
Registro inserido com sucesso: 10143621
Registro inserido com sucesso: 10142036
Registro inserido com sucesso: 10142053
Registro inserido com sucesso: 10141582
Registro inserido com sucesso: 10142028
Registro inserido com sucesso: 10142452
Registro inserido com sucesso: 10143075
Registro inserido com sucesso: 10143273
Registro inserido com sucesso: 10143371
Registro inserido com sucesso: 10141615
Registro inserido com sucesso: 10141659
Registro inserido com sucesso: 10141677
Registro inserido com sucesso: 10141835
Registro inserido com sucesso: 10141926
Registro inserido com sucesso: 10141968
Registro inserido com sucesso: 10142317
Registro inserido com sucesso: 10142641
Registro inserido com sucesso: 10143080
Registro inserido com sucesso: 10143191
Registro inserido com sucesso: 10143509
Registro inserido com sucesso: 10143590
Registro inserido com sucesso: 10141520
Registro inserido com sucesso: 10141747
Registro inserido com sucesso: 10142084
Registro inserido com sucesso: 10142120
Registro inserido com sucesso: 10142175
Registro inserido com sucesso: 10142816
Registro inserido com sucesso: 10143073
Registro inserido com sucesso: 10143079
Registro inserido com sucesso: 10141580
Registro inserido com sucesso: 10142357
Registro inserido com sucesso: 10142737
Registro inserido com sucesso: 10142792
Registro inserido com sucesso: 10143033
Registro inserido com sucesso: 10143228
Registro inserido com sucesso: 10143240
Registro inserido com sucesso: 10141799
Registro inserido com sucesso: 10142117
Registro inserido com sucesso: 10142380
Registro inserido com sucesso: 10142559
Registro inserido com sucesso: 10142921
Registro inserido com sucesso: 10143421
Registro inserido com sucesso: 10143553
Registro inserido com sucesso: 10141650
Registro inserido com sucesso: 10142470
Registro inserido com sucesso: 10142508
Registro inserido com sucesso: 10143046
Registro inserido com sucesso: 10143133
Registro inserido com sucesso: 10143543
Registro inserido com sucesso: 10141772
Registro inserido com sucesso: 10141947
Registro inserido com sucesso: 10142106
Registro inserido com sucesso: 10142269
Registro inserido com sucesso: 10142525
Registro inserido com sucesso: 10143277
Registro inserido com sucesso: 10141945
Registro inserido com sucesso: 10142043
Registro inserido com sucesso: 10142519
Registro inserido com sucesso: 10143475
Registro inserido com sucesso: 10143613
Registro inserido com sucesso: 10141792
Registro inserido com sucesso: 10142112
Registro inserido com sucesso: 10142388
Registro inserido com sucesso: 10142876
Registro inserido com sucesso: 10142990
Registro inserido com sucesso: 10143163
Registro inserido com sucesso: 10141673
Registro inserido com sucesso: 10142268
Registro inserido com sucesso: 10142756
Registro inserido com sucesso: 10142867
Registro inserido com sucesso: 10143045
Registro inserido com sucesso: 10143424
Registro inserido com sucesso: 10142023
Registro inserido com sucesso: 10142061
Registro inserido com sucesso: 10142545
Registro inserido com sucesso: 10143092
Registro inserido com sucesso: 10142051
Registro inserido com sucesso: 10142540
Registro inserido com sucesso: 10143157
Registro inserido com sucesso: 10143276
Registro inserido com sucesso: 10142588
Registro inserido com sucesso: 10142976
Registro inserido com sucesso: 10143146
Registro inserido com sucesso: 10143154
Registro inserido com sucesso: 10143323
Registro inserido com sucesso: 10142512
Registro inserido com sucesso: 10142668
Registro inserido com sucesso: 10142685
Registro inserido com sucesso: 10143086
Registro inserido com sucesso: 10143113
Registro inserido com sucesso: 10143253
Registro inserido com sucesso: 10141565
Registro inserido com sucesso: 10142079
Registro inserido com sucesso: 10142232
Registro inserido com sucesso: 10142572
Registro inserido com sucesso: 10142640
Registro inserido com sucesso: 10142750
Registro inserido com sucesso: 10142918
Registro inserido com sucesso: 10142987
Registro inserido com sucesso: 10143060
Registro inserido com sucesso: 10143120
Registro inserido com sucesso: 10142253
Registro inserido com sucesso: 10142335
Registro inserido com sucesso: 10142369
Registro inserido com sucesso: 10142511
Registro inserido com sucesso: 10143436
Registro inserido com sucesso: 10141679
Registro inserido com sucesso: 10142041
Registro inserido com sucesso: 10142638
Registro inserido com sucesso: 10143389
Registro inserido com sucesso: 10141710
Registro inserido com sucesso: 10142160
Registro inserido com sucesso: 10142172
Registro inserido com sucesso: 10142187
Registro inserido com sucesso: 10142290
Registro inserido com sucesso: 10142983
Registro inserido com sucesso: 10143519
Registro inserido com sucesso: 10143580
Registro inserido com sucesso: 10141554
Registro inserido com sucesso: 10141715
Registro inserido com sucesso: 10141863
Registro inserido com sucesso: 10142247
Registro inserido com sucesso: 10142391
Registro inserido com sucesso: 10143200
Registro inserido com sucesso: 10143250
Registro inserido com sucesso: 10141644
Registro inserido com sucesso: 10141705
Registro inserido com sucesso: 10141966
Registro inserido com sucesso: 10142260
Registro inserido com sucesso: 10142336
Registro inserido com sucesso: 10142610
Registro inserido com sucesso: 10143294
Registro inserido com sucesso: 10141528
Registro inserido com sucesso: 10141668
Registro inserido com sucesso: 10141780
Registro inserido com sucesso: 10142620
Registro inserido com sucesso: 10143298
Registro inserido com sucesso: 10143365
Registro inserido com sucesso: 10141564
Registro inserido com sucesso: 10142270
Registro inserido com sucesso: 10143508
Registro inserido com sucesso: 10143556
Registro inserido com sucesso: 10142186
Registro inserido com sucesso: 10142497
Registro inserido com sucesso: 10142587
Registro inserido com sucesso: 10142652
Registro inserido com sucesso: 10142655
Registro inserido com sucesso: 10143056
Registro inserido com sucesso: 10141577
Registro inserido com sucesso: 10141906
Registro inserido com sucesso: 10141916
Registro inserido com sucesso: 10142009
Registro inserido com sucesso: 10142241
Registro inserido com sucesso: 10142273
Registro inserido com sucesso: 10142617
Registro inserido com sucesso: 10143040
Registro inserido com sucesso: 10142557
Registro inserido com sucesso: 10142820
Registro inserido com sucesso: 10143231
Registro inserido com sucesso: 10143521
Registro inserido com sucesso: 10142109

Registro inserido com sucesso: 10142521
Registro inserido com sucesso: 10143134
Registro inserido com sucesso: 10143180
Registro inserido com sucesso: 10143314
Registro inserido com sucesso: 10143433
Registro inserido com sucesso: 10142462
Registro inserido com sucesso: 10142272
Registro inserido com sucesso: 10142698
Registro inserido com sucesso: 10142935
Registro inserido com sucesso: 10143182
Registro inserido com sucesso: 10143339
Registro inserido com sucesso: 10141750
Registro inserido com sucesso: 10142305
Registro inserido com sucesso: 10142788
Registro inserido com sucesso: 10142890
Registro inserido com sucesso: 10141549
Registro inserido com sucesso: 10141831
Registro inserido com sucesso: 10142542
Registro inserido com sucesso: 10142790
Registro inserido com sucesso: 10143019
Registro inserido com sucesso: 10141853
Registro inserido com sucesso: 10142140
Registro inserido com sucesso: 10142166
Registro inserido com sucesso: 10142669
Registro inserido com sucesso: 10142765
Registro inserido com sucesso: 10142936
Registro inserido com sucesso: 10143226
Registro inserido com sucesso: 10141829
Registro inserido com sucesso: 10142605
Registro inserido com sucesso: 10143398
Registro inserido com sucesso: 10142006
Registro inserido com sucesso: 10142151
Registro inserido com sucesso: 10142354
Registro inserido com sucesso: 10143274
Registro inserido com sucesso: 10141790
Registro inserido com sucesso: 10142110
Registro inserido com sucesso: 10142554
Registro inserido com sucesso: 10142688
Registro inserido com sucesso: 10142768
Registro inserido com sucesso: 10143037
Registro inserido com sucesso: 10143057
Registro inserido com sucesso: 10143104
Registro inserido com sucesso: 10143131
Registro inserido com sucesso: 10141587
Registro inserido com sucesso: 10141630
Registro inserido com sucesso: 10142002
Registro inserido com sucesso: 10142503
Registro inserido com sucesso: 10142625
Registro inserido com sucesso: 10142961
Registro inserido com sucesso: 10143252
Registro inserido com sucesso: 10143356
Registro inserido com sucesso: 10143400
Registro inserido com sucesso: 10143512
Registro inserido com sucesso: 10141681
Registro inserido com sucesso: 10142581
Registro inserido com sucesso: 10142736
Registro inserido com sucesso: 10142839
Registro inserido com sucesso: 10143027
Registro inserido com sucesso: 10143048
Registro inserido com sucesso: 10141526
Registro inserido com sucesso: 10141605
Registro inserido com sucesso: 10141609
Registro inserido com sucesso: 10142249
Registro inserido com sucesso: 10142282
Registro inserido com sucesso: 10142602
Registro inserido com sucesso: 10143026
Registro inserido com sucesso: 10143292
Registro inserido com sucesso: 10141875
Registro inserido com sucesso: 10142372
Registro inserido com sucesso: 10143549
Registro inserido com sucesso: 10141550
Registro inserido com sucesso: 10141751
Registro inserido com sucesso: 10141913
Registro inserido com sucesso: 10142780
Registro inserido com sucesso: 10142848
Registro inserido com sucesso: 10142874
Registro inserido com sucesso: 10142958
Registro inserido com sucesso: 10143176
Registro inserido com sucesso: 10143347
Registro inserido com sucesso: 10143025
Registro inserido com sucesso: 10143301
Registro inserido com sucesso: 10142386
Registro inserido com sucesso: 10142832
Registro inserido com sucesso: 10143316
Registro inserido com sucesso: 10143325
Registro inserido com sucesso: 10142134
Registro inserido com sucesso: 10143055
Registro inserido com sucesso: 10143458
Registro inserido com sucesso: 10143476
Registro inserido com sucesso: 10143482
Registro inserido com sucesso: 10143507
Registro inserido com sucesso: 10143586
Registro inserido com sucesso: 10141783
Registro inserido com sucesso: 10142284
Registro inserido com sucesso: 10142481
Registro inserido com sucesso: 10142683
Registro inserido com sucesso: 10142953
Registro inserido com sucesso: 10143249
Registro inserido com sucesso: 10143380
Registro inserido com sucesso: 10141556
Registro inserido com sucesso: 10141593
Registro inserido com sucesso: 10143115
Registro inserido com sucesso: 10141854
Registro inserido com sucesso: 10142243
Registro inserido com sucesso: 10142454
Registro inserido com sucesso: 10142553
Registro inserido com sucesso: 10142194
Registro inserido com sucesso: 10142783
Registro inserido com sucesso: 10142932
Registro inserido com sucesso: 10143340
Registro inserido com sucesso: 10143430
Registro inserido com sucesso: 10143474
Registro inserido com sucesso: 10143609
Registro inserido com sucesso: 10141620
Registro inserido com sucesso: 10141917
Registro inserido com sucesso: 10142333
Registro inserido com sucesso: 10142460
Registro inserido com sucesso: 10142506
Registro inserido com sucesso: 10142998
Registro inserido com sucesso: 10143330
Registro inserido com sucesso: 10141830
Registro inserido com sucesso: 10142766
Registro inserido com sucesso: 10141720
Registro inserido com sucesso: 10142356
Registro inserido com sucesso: 10142374
Registro inserido com sucesso: 10142383
Registro inserido com sucesso: 10142784
Registro inserido com sucesso: 10143583
Registro inserido com sucesso: 10142731
Registro inserido com sucesso: 10142748
Registro inserido com sucesso: 10143167
Registro inserido com sucesso: 10143331
Registro inserido com sucesso: 10142397
Registro inserido com sucesso: 10143179
Registro inserido com sucesso: 10141998
Registro inserido com sucesso: 10142039
Registro inserido com sucesso: 10142257
Registro inserido com sucesso: 10142264
Registro inserido com sucesso: 10142682
Registro inserido com sucesso: 10142985
Registro inserido com sucesso: 10143477
Registro inserido com sucesso: 10141933
Registro inserido com sucesso: 10141975
Registro inserido com sucesso: 10142050
Registro inserido com sucesso: 10142465
Registro inserido com sucesso: 10142594
Registro inserido com sucesso: 10142781
Registro inserido com sucesso: 10142785
Registro inserido com sucesso: 10143085
Registro inserido com sucesso: 10143416
Registro inserido com sucesso: 10143457
Registro inserido com sucesso: 10142116
Registro inserido com sucesso: 10142128
Registro inserido com sucesso: 10142424
Registro inserido com sucesso: 10143415
Registro inserido com sucesso: 10141529
Registro inserido com sucesso: 10142164
Registro inserido com sucesso: 10143197
Registro inserido com sucesso: 10141730
Registro inserido com sucesso: 10141809
Registro inserido com sucesso: 10142523
Registro inserido com sucesso: 10142570
Registro inserido com sucesso: 10142732
Registro inserido com sucesso: 10143100
Registro inserido com sucesso: 10143287
Registro inserido com sucesso: 10143410
Registro inserido com sucesso: 10143485
Registro inserido com sucesso: 10143510
Registro inserido com sucesso: 10143554
Registro inserido com sucesso: 10141683
Registro inserido com sucesso: 10141850
Registro inserido com sucesso: 10142062
Registro inserido com sucesso: 10142430
Registro inserido com sucesso: 10142484
Registro inserido com sucesso: 10142541
Registro inserido com sucesso: 10142680
Registro inserido com sucesso: 10143523
Registro inserido com sucesso: 10141824
Registro inserido com sucesso: 10141910
Registro inserido com sucesso: 10141955
Registro inserido com sucesso: 10142143
Registro inserido com sucesso: 10142661
Registro inserido com sucesso: 10143290
Registro inserido com sucesso: 10143451
Registro inserido com sucesso: 10141713
Registro inserido com sucesso: 10141786
Registro inserido com sucesso: 10141534
Registro inserido com sucesso: 10141766
Registro inserido com sucesso: 10141885
Registro inserido com sucesso: 10142226
Registro inserido com sucesso: 10142813
Registro inserido com sucesso: 10141798
Registro inserido com sucesso: 10141941
Registro inserido com sucesso: 10143372
Registro inserido com sucesso: 10143402
Registro inserido com sucesso: 10141574
Registro inserido com sucesso: 10142670
Registro inserido com sucesso: 10143024
Registro inserido com sucesso: 10143478
Registro inserido com sucesso: 10143538
Registro inserido com sucesso: 10141869
Registro inserido com sucesso: 10141959
Registro inserido com sucesso: 10141967
Registro inserido com sucesso: 10142136
Registro inserido com sucesso: 10142504
Registro inserido com sucesso: 10141643
Registro inserido com sucesso: 10141865
Registro inserido com sucesso: 10141989
Registro inserido com sucesso: 10142013
Registro inserido com sucesso: 10142222
Registro inserido com sucesso: 10142318
Registro inserido com sucesso: 10142347
Registro inserido com sucesso: 10142550
Registro inserido com sucesso: 10142864
Registro inserido com sucesso: 10142982
Registro inserido com sucesso: 10141856
Registro inserido com sucesso: 10141895
Registro inserido com sucesso: 10143041
Registro inserido com sucesso: 10143359
Registro inserido com sucesso: 10143432
Registro inserido com sucesso: 10141704
Registro inserido com sucesso: 10142015
Registro inserido com sucesso: 10142033
Registro inserido com sucesso: 10143051
Registro inserido com sucesso: 10143194
Registro inserido com sucesso: 10143210
Registro inserido com sucesso: 10143282
Registro inserido com sucesso: 10143438
Registro inserido com sucesso: 10142018
Registro inserido com sucesso: 10142225
Registro inserido com sucesso: 10142297
Registro inserido com sucesso: 10142726
Registro inserido com sucesso: 10143598
Registro inserido com sucesso: 10142113
Registro inserido com sucesso: 10142169
Registro inserido com sucesso: 10142261
Registro inserido com sucesso: 10142776
Registro inserido com sucesso: 10141784
Registro inserido com sucesso: 10141961
Registro inserido com sucesso: 10142156
Registro inserido com sucesso: 10142371
Registro inserido com sucesso: 10142414
Registro inserido com sucesso: 10142666
Registro inserido com sucesso: 10142700
Registro inserido com sucesso: 10142811
Registro inserido com sucesso: 10143074
Registro inserido com sucesso: 10143081
Registro inserido com sucesso: 10141788
Registro inserido com sucesso: 10142432
Registro inserido com sucesso: 10142946
Registro inserido com sucesso: 10142970
Registro inserido com sucesso: 10141510
Registro inserido com sucesso: 10141519
Registro inserido com sucesso: 10141858
Registro inserido com sucesso: 10142362
Registro inserido com sucesso: 10142757
Registro inserido com sucesso: 10143429

Registro inserido com sucesso: 10143461
Registro inserido com sucesso: 10143481
Registro inserido com sucesso: 10143493
Registro inserido com sucesso: 10143524
Registro inserido com sucesso: 10143559
Registro inserido com sucesso: 10142212
Registro inserido com sucesso: 10142399
Registro inserido com sucesso: 10142501
Registro inserido com sucesso: 10142980
Registro inserido com sucesso: 10143192
Registro inserido com sucesso: 10143207
Registro inserido com sucesso: 10142396
Registro inserido com sucesso: 10143052
Registro inserido com sucesso: 10143153
Registro inserido com sucesso: 10143374
Registro inserido com sucesso: 10143446
Registro inserido com sucesso: 10143560
Registro inserido com sucesso: 10141614
Registro inserido com sucesso: 10141690
Registro inserido com sucesso: 10142482
Registro inserido com sucesso: 10143021
Registro inserido com sucesso: 10143155
Registro inserido com sucesso: 10143317
Registro inserido com sucesso: 10143404
Registro inserido com sucesso: 10143620
Registro inserido com sucesso: 10141805
Registro inserido com sucesso: 10141957
Registro inserido com sucesso: 10142493
Registro inserido com sucesso: 10141514
Registro inserido com sucesso: 10141661
Registro inserido com sucesso: 10142326
Registro inserido com sucesso: 10142648
Registro inserido com sucesso: 10141744
Registro inserido com sucesso: 10141827
Registro inserido com sucesso: 10142012
Registro inserido com sucesso: 10142777
Registro inserido com sucesso: 10142844
Registro inserido com sucesso: 10141631
Registro inserido com sucesso: 10142090
Registro inserido com sucesso: 10142549
Registro inserido com sucesso: 10142667
Registro inserido com sucesso: 10142704
Registro inserido com sucesso: 10142738
Registro inserido com sucesso: 10142933
Registro inserido com sucesso: 10143010
Registro inserido com sucesso: 10143088
Registro inserido com sucesso: 10143189
Registro inserido com sucesso: 10143455
Registro inserido com sucesso: 10141903
Registro inserido com sucesso: 10142496
Registro inserido com sucesso: 10142633
Registro inserido com sucesso: 10142662
Registro inserido com sucesso: 10142841
Registro inserido com sucesso: 10143076
Registro inserido com sucesso: 10143617
Registro inserido com sucesso: 10141585
Registro inserido com sucesso: 10141825
Registro inserido com sucesso: 10142067
Registro inserido com sucesso: 10142797
Registro inserido com sucesso: 10142920
Registro inserido com sucesso: 10143090
Registro inserido com sucesso: 10143385
Registro inserido com sucesso: 10143441
Registro inserido com sucesso: 10141723
Registro inserido com sucesso: 10141936
Registro inserido com sucesso: 10142075
Registro inserido com sucesso: 10142086
Registro inserido com sucesso: 10142809
Registro inserido com sucesso: 10141845
Registro inserido com sucesso: 10141952
Registro inserido com sucesso: 10142693
Registro inserido com sucesso: 10141515
Registro inserido com sucesso: 10142323
Registro inserido com sucesso: 10142405
Registro inserido com sucesso: 10143136
Registro inserido com sucesso: 10141536
Registro inserido com sucesso: 10141654
Registro inserido com sucesso: 10141871
Registro inserido com sucesso: 10141997
Registro inserido com sucesso: 10142139
Registro inserido com sucesso: 10142695
Registro inserido com sucesso: 10142930
Registro inserido com sucesso: 10143257
Registro inserido com sucesso: 10143567
Registro inserido com sucesso: 10141734
Registro inserido com sucesso: 10141900
Registro inserido com sucesso: 10142348
Registro inserido com sucesso: 10142860
Registro inserido com sucesso: 10143318
Registro inserido com sucesso: 10141557
Registro inserido com sucesso: 10142338
Registro inserido com sucesso: 10141818
Registro inserido com sucesso: 10142054
Registro inserido com sucesso: 10142671
Registro inserido com sucesso: 10143137
Registro inserido com sucesso: 10143156
Registro inserido com sucesso: 10143425
Registro inserido com sucesso: 10142049
Registro inserido com sucesso: 10142196
Registro inserido com sucesso: 10142328
Registro inserido com sucesso: 10142647
Registro inserido com sucesso: 10142686
Registro inserido com sucesso: 10143139
Registro inserido com sucesso: 10141512
Registro inserido com sucesso: 10141589
Registro inserido com sucesso: 10141637
Registro inserido com sucesso: 10142677
Registro inserido com sucesso: 10141612
Registro inserido com sucesso: 10141844
Registro inserido com sucesso: 10142214
Registro inserido com sucesso: 10142439
Registro inserido com sucesso: 10142479
Registro inserido com sucesso: 10142608
Registro inserido com sucesso: 10143006
Registro inserido com sucesso: 10143125
Registro inserido com sucesso: 10143186
Registro inserido com sucesso: 10143545
Registro inserido com sucesso: 10141777
Registro inserido com sucesso: 10141893
Registro inserido com sucesso: 10142703
Registro inserido com sucesso: 10142794
Registro inserido com sucesso: 10143017
Registro inserido com sucesso: 10143196
Registro inserido com sucesso: 10143204
Registro inserido com sucesso: 10141503
Registro inserido com sucesso: 10142433
Registro inserido com sucesso: 10142446
Registro inserido com sucesso: 10142450
Registro inserido com sucesso: 10142513
Registro inserido com sucesso: 10142714
Registro inserido com sucesso: 10141596
Registro inserido com sucesso: 10142021
Registro inserido com sucesso: 10142133
Registro inserido com sucesso: 10142445
Registro inserido com sucesso: 10142635
Registro inserido com sucesso: 10142694
Registro inserido com sucesso: 10143166
Registro inserido com sucesso: 10141769
Registro inserido com sucesso: 10142031
Registro inserido com sucesso: 10142204
Registro inserido com sucesso: 10142395
Registro inserido com sucesso: 10142632
Registro inserido com sucesso: 10141625
Registro inserido com sucesso: 10142068
Registro inserido com sucesso: 10143044
Registro inserido com sucesso: 10143541
Registro inserido com sucesso: 10143596
Registro inserido com sucesso: 10141583
Registro inserido com sucesso: 10141657
Registro inserido com sucesso: 10141793
Registro inserido com sucesso: 10142364
Registro inserido com sucesso: 10142879
Registro inserido com sucesso: 10142892
Registro inserido com sucesso: 10143407
Registro inserido com sucesso: 10143591
Registro inserido com sucesso: 10141635
Registro inserido com sucesso: 10142131
Registro inserido com sucesso: 10143603
Registro inserido com sucesso: 10141601
Registro inserido com sucesso: 10141880
Registro inserido com sucesso: 10141912
Registro inserido com sucesso: 10141969
Registro inserido com sucesso: 10141980
Registro inserido com sucesso: 10142568
Registro inserido com sucesso: 10142827
Registro inserido com sucesso: 10142974
Registro inserido com sucesso: 10141552
Registro inserido com sucesso: 10141891
Registro inserido com sucesso: 10142713
Registro inserido com sucesso: 10143496
Registro inserido com sucesso: 10141600
Registro inserido com sucesso: 10141660
Registro inserido com sucesso: 10141963
Registro inserido com sucesso: 10142469
Registro inserido com sucesso: 10142595
Registro inserido com sucesso: 10142769
Registro inserido com sucesso: 10143414
Registro inserido com sucesso: 10141701
Registro inserido com sucesso: 10142104
Registro inserido com sucesso: 10142259
Registro inserido com sucesso: 10142279
Registro inserido com sucesso: 10143123
Registro inserido com sucesso: 10141739
Registro inserido com sucesso: 10142419
Registro inserido com sucesso: 10142660
Registro inserido com sucesso: 10142967
Registro inserido com sucesso: 10143305
Registro inserido com sucesso: 10143542
Registro inserido com sucesso: 10143587
Registro inserido com sucesso: 10141878
Registro inserido com sucesso: 10141958
Registro inserido com sucesso: 10142427
Registro inserido com sucesso: 10141770
Registro inserido com sucesso: 10142092
Registro inserido com sucesso: 10142600
Registro inserido com sucesso: 10142159
Registro inserido com sucesso: 10142889
Registro inserido com sucesso: 10143473
Registro inserido com sucesso: 10143616
Registro inserido com sucesso: 10142289
Registro inserido com sucesso: 10142373
Registro inserido com sucesso: 10142673
Registro inserido com sucesso: 10143300
Registro inserido com sucesso: 10141767
Registro inserido com sucesso: 10141866
Registro inserido com sucesso: 10141937
Registro inserido com sucesso: 10142676
Registro inserido com sucesso: 10142739
Registro inserido com sucesso: 10143291
Registro inserido com sucesso: 10141807
Registro inserido com sucesso: 10141808
Registro inserido com sucesso: 10141932
Registro inserido com sucesso: 10142312
Registro inserido com sucesso: 10142322
Registro inserido com sucesso: 10142535
Registro inserido com sucesso: 10142710
Registro inserido com sucesso: 10142883
Registro inserido com sucesso: 10143193
Registro inserido com sucesso: 10143315
Registro inserido com sucesso: 10143377
Registro inserido com sucesso: 10142489

Registro inserido com sucesso: 10143003
Registro inserido com sucesso: 10143328
Registro inserido com sucesso: 10142184
Registro inserido com sucesso: 10143258
Registro inserido com sucesso: 10141616
Registro inserido com sucesso: 10142384
Registro inserido com sucesso: 10142646
Registro inserido com sucesso: 10142882
Registro inserido com sucesso: 10142898
Registro inserido com sucesso: 10143349
Registro inserido com sucesso: 10143435
Registro inserido com sucesso: 10141516
Registro inserido com sucesso: 10141828
Registro inserido com sucesso: 10142102
Registro inserido com sucesso: 10142637
Registro inserido com sucesso: 10143242
Registro inserido com sucesso: 10142561
Registro inserido com sucesso: 10142954
Registro inserido com sucesso: 10143177
Registro inserido com sucesso: 10143525
Registro inserido com sucesso: 10141773
Registro inserido com sucesso: 10142073
Registro inserido com sucesso: 10142381
Registro inserido com sucesso: 10142546
Registro inserido com sucesso: 10142742
Registro inserido com sucesso: 10143593
Registro inserido com sucesso: 10142138
Registro inserido com sucesso: 10142168
Registro inserido com sucesso: 10142337
Registro inserido com sucesso: 10142370
Registro inserido com sucesso: 10142415
Registro inserido com sucesso: 10142659
Registro inserido com sucesso: 10143224
Registro inserido com sucesso: 10143375
Registro inserido com sucesso: 10142108
Registro inserido com sucesso: 10142332
Registro inserido com sucesso: 10142696
Registro inserido com sucesso: 10142810
Registro inserido com sucesso: 10143011
Registro inserido com sucesso: 10143203
Registro inserido com sucesso: 10142115
Registro inserido com sucesso: 10142749
Registro inserido com sucesso: 10142972
Registro inserido com sucesso: 10143610
Registro inserido com sucesso: 10142296
Registro inserido com sucesso: 10142709
Registro inserido com sucesso: 10143578
Registro inserido com sucesso: 10142188
Registro inserido com sucesso: 10142197
Registro inserido com sucesso: 10142528
Registro inserido com sucesso: 10142566
Registro inserido com sucesso: 10143335
Registro inserido com sucesso: 10143392
Registro inserido com sucesso: 10143471
Registro inserido com sucesso: 10143563
Registro inserido com sucesso: 10141537
Registro inserido com sucesso: 10142913
Registro inserido com sucesso: 10143001
Registro inserido com sucesso: 10143061
Registro inserido com sucesso: 10143118
Registro inserido com sucesso: 10143130
Registro inserido com sucesso: 10141810
Registro inserido com sucesso: 10142363
Registro inserido com sucesso: 10142406
Registro inserido com sucesso: 10143319
Registro inserido com sucesso: 10142392
Registro inserido com sucesso: 10142650
Registro inserido com sucesso: 10142706
Registro inserido com sucesso: 10142850
Registro inserido com sucesso: 10142947
Registro inserido com sucesso: 10143536
Registro inserido com sucesso: 10141642
Registro inserido com sucesso: 10142474
Registro inserido com sucesso: 10142593
Registro inserido com sucesso: 10142919
Registro inserido com sucesso: 10142099
Registro inserido com sucesso: 10142808
Registro inserido com sucesso: 10142111
Registro inserido com sucesso: 10141718
Registro inserido com sucesso: 10142795
Registro inserido com sucesso: 10143223
Registro inserido com sucesso: 10141735
Registro inserido com sucesso: 10142155
Registro inserido com sucesso: 10142455
Registro inserido com sucesso: 10142691
Registro inserido com sucesso: 10142751
Registro inserido com sucesso: 10141611
Registro inserido com sucesso: 10141636
Registro inserido com sucesso: 10141837
Registro inserido com sucesso: 10141859
Registro inserido com sucesso: 10142494
Registro inserido com sucesso: 10143152
Registro inserido com sucesso: 10142627
Registro inserido com sucesso: 10142975
Registro inserido com sucesso: 10143014
Registro inserido com sucesso: 10143050
Registro inserido com sucesso: 10143462
Registro inserido com sucesso: 10141695
Registro inserido com sucesso: 10141724
Registro inserido com sucesso: 10141740
Registro inserido com sucesso: 10141796
Registro inserido com sucesso: 10141811
Registro inserido com sucesso: 10142891
Registro inserido com sucesso: 10142361
Registro inserido com sucesso: 10142952
Registro inserido com sucesso: 10143426
Registro inserido com sucesso: 10141721
Registro inserido com sucesso: 10141848
Registro inserido com sucesso: 10141981
Registro inserido com sucesso: 10142011
Registro inserido com sucesso: 10142170
Registro inserido com sucesso: 10142300
Registro inserido com sucesso: 10142728
Registro inserido com sucesso: 10142870
Registro inserido com sucesso: 10141530
Registro inserido com sucesso: 10142589
Registro inserido com sucesso: 10142692
Registro inserido com sucesso: 10141699
Registro inserido com sucesso: 10141771
Registro inserido com sucesso: 10142758
Registro inserido com sucesso: 10142903
Registro inserido com sucesso: 10143342
Registro inserido com sucesso: 10141532
Registro inserido com sucesso: 10141563
Registro inserido com sucesso: 10141658
Registro inserido com sucesso: 10142121
Registro inserido com sucesso: 10142491
Registro inserido com sucesso: 10142639
Registro inserido com sucesso: 10142716
Registro inserido com sucesso: 10142887
Registro inserido com sucesso: 10142926
Registro inserido com sucesso: 10143321
Registro inserido com sucesso: 10143403
Registro inserido com sucesso: 10143491
Registro inserido com sucesso: 10141641
Registro inserido com sucesso: 10141787
Registro inserido com sucesso: 10142697
Registro inserido com sucesso: 10142866
Registro inserido com sucesso: 10143174
Registro inserido com sucesso: 10143386
Registro inserido com sucesso: 10142149
Registro inserido com sucesso: 10142730
Registro inserido com sucesso: 10143248
Registro inserido com sucesso: 10142472
Registro inserido com sucesso: 10142509
Registro inserido com sucesso: 10142778
Registro inserido com sucesso: 10143486
Registro inserido com sucesso: 10141586
Registro inserido com sucesso: 10141703
Registro inserido com sucesso: 10141939
Registro inserido com sucesso: 10141990
Registro inserido com sucesso: 10142199
Registro inserido com sucesso: 10143369
Registro inserido com sucesso: 10143487
Registro inserido com sucesso: 10142125
Registro inserido com sucesso: 10142378
Registro inserido com sucesso: 10142495
Registro inserido com sucesso: 10142543
Registro inserido com sucesso: 10143468
Registro inserido com sucesso: 10141573
Registro inserido com sucesso: 10142135
Registro inserido com sucesso: 10142163
Registro inserido com sucesso: 10142502
Registro inserido com sucesso: 10142674
Registro inserido com sucesso: 10143234
Registro inserido com sucesso: 10142636
Registro inserido com sucesso: 10142804
Registro inserido com sucesso: 10143008
Registro inserido com sucesso: 10143265
Registro inserido com sucesso: 10142420
Registro inserido com sucesso: 10143175
Registro inserido com sucesso: 10141886
Registro inserido com sucesso: 10142532
Registro inserido com sucesso: 10142564
Registro inserido com sucesso: 10142753
Registro inserido com sucesso: 10143334
Registro inserido com sucesso: 10141531
Registro inserido com sucesso: 10141746
Registro inserido com sucesso: 10142316
Registro inserido com sucesso: 10142349
Registro inserido com sucesso: 10142806
Registro inserido com sucesso: 10142875
Registro inserido com sucesso: 10143362
Registro inserido com sucesso: 10141983
Registro inserido com sucesso: 10142070
Registro inserido com sucesso: 10142538
Registro inserido com sucesso: 10142793
Registro inserido com sucesso: 10143035
Registro inserido com sucesso: 10143236
Registro inserido com sucesso: 10143352
Registro inserido com sucesso: 10143355
Registro inserido com sucesso: 10141608
Registro inserido com sucesso: 10141815
Registro inserido com sucesso: 10141962
Registro inserido com sucesso: 10142137
Registro inserido com sucesso: 10142275
Registro inserido com sucesso: 10142315
Registro inserido com sucesso: 10142818
Registro inserido com sucesso: 10142993
Registro inserido com sucesso: 10143454
Registro inserido com sucesso: 10142398
Registro inserido com sucesso: 10142896
Registro inserido com sucesso: 10143412
Registro inserido com sucesso: 10143428
Registro inserido com sucesso: 10141663
Registro inserido com sucesso: 10142359
Registro inserido com sucesso: 10142366
Registro inserido com sucesso: 10142865
Registro inserido com sucesso: 10142057
Registro inserido com sucesso: 10142101
Registro inserido com sucesso: 10142629
Registro inserido com sucesso: 10142849
Registro inserido com sucesso: 10142973
Registro inserido com sucesso: 10143111
Registro inserido com sucesso: 10143614
Registro inserido com sucesso: 10141923
Registro inserido com sucesso: 10142292
Registro inserido com sucesso: 10142616
Registro inserido com sucesso: 10142705
Registro inserido com sucesso: 10142796
Registro inserido com sucesso: 10141595
Registro inserido com sucesso: 10142574
Registro inserido com sucesso: 10142679
Registro inserido com sucesso: 10142945
Registro inserido com sucesso: 10143020
Registro inserido com sucesso: 10143069
Registro inserido com sucesso: 10143107
Registro inserido com sucesso: 10143393
Registro inserido com sucesso: 10142035
Registro inserido com sucesso: 10142774
Registro inserido com sucesso: 10143401
Registro inserido com sucesso: 10143550
Registro inserido com sucesso: 10143601
Registro inserido com sucesso: 10143622
Registro inserido com sucesso: 10143625
Registro inserido com sucesso: 10141758
Registro inserido com sucesso: 10141901
Registro inserido com sucesso: 10142280
Registro inserido com sucesso: 10143209
Registro inserido com sucesso: 10141669
Registro inserido com sucesso: 10141960
Registro inserido com sucesso: 10142182
Registro inserido com sucesso: 10142248
Registro inserido com sucesso: 10142880
Registro inserido com sucesso: 10142949
Registro inserido com sucesso: 10143243
Registro inserido com sucesso: 10143332

Registro inserido com sucesso: 10143540
Registro inserido com sucesso: 10143576
Registro inserido com sucesso: 10141507
Registro inserido com sucesso: 10142152
Registro inserido com sucesso: 10142288
Registro inserido com sucesso: 10142943
Registro inserido com sucesso: 10143259
Registro inserido com sucesso: 10143408
Registro inserido com sucesso: 10142144
Registro inserido com sucesso: 10142624
Registro inserido com sucesso: 10142942
Registro inserido com sucesso: 10143263
Registro inserido com sucesso: 10142016
Registro inserido com sucesso: 10142351
Registro inserido com sucesso: 10142634
Registro inserido com sucesso: 10143238
Registro inserido com sucesso: 10141797
Registro inserido com sucesso: 10142066
Registro inserido com sucesso: 10142091
Registro inserido com sucesso: 10142340
Registro inserido com sucesso: 10142461
Registro inserido com sucesso: 10143348
Registro inserido com sucesso: 10143391
Registro inserido com sucesso: 10141846
Registro inserido com sucesso: 10141934
Registro inserido com sucesso: 10141985
Registro inserido com sucesso: 10142684
Registro inserido com sucesso: 10142822
Registro inserido com sucesso: 10142886
Registro inserido com sucesso: 10143213
Registro inserido com sucesso: 10141892
Registro inserido com sucesso: 10142729
Registro inserido com sucesso: 10143132
Registro inserido com sucesso: 10143278
Registro inserido com sucesso: 10143489
Registro inserido com sucesso: 10142024
Registro inserido com sucesso: 10142064
Registro inserido com sucesso: 10142368
Registro inserido com sucesso: 10142885
Registro inserido com sucesso: 10143208
Registro inserido com sucesso: 10143296
Registro inserido com sucesso: 10141732
Registro inserido com sucesso: 10143220
Registro inserido com sucesso: 10143506
Registro inserido com sucesso: 10141884
Registro inserido com sucesso: 10141920
Registro inserido com sucesso: 10142076
Registro inserido com sucesso: 10141646
Registro inserido com sucesso: 10141794
Registro inserido com sucesso: 10141954
Registro inserido com sucesso: 10142100
Registro inserido com sucesso: 10142129
Registro inserido com sucesso: 10142800
Registro inserido com sucesso: 10143147
Registro inserido com sucesso: 10143574
Registro inserido com sucesso: 10141738
Registro inserido com sucesso: 10142478
Registro inserido com sucesso: 10143310
Registro inserido com sucesso: 10143448
Registro inserido com sucesso: 10141755
Registro inserido com sucesso: 10142805
Registro inserido com sucesso: 10141543
Registro inserido com sucesso: 10141591
Registro inserido com sucesso: 10141873
Registro inserido com sucesso: 10142141
Registro inserido com sucesso: 10142626
Registro inserido com sucesso: 10142979
Registro inserido com sucesso: 10141539
Registro inserido com sucesso: 10141571
Registro inserido com sucesso: 10141922
Registro inserido com sucesso: 10142183
Registro inserido com sucesso: 10142242
Registro inserido com sucesso: 10142575
Registro inserido com sucesso: 10143038
Registro inserido com sucesso: 10143164
Registro inserido com sucesso: 10141897
Registro inserido com sucesso: 10142026
Registro inserido com sucesso: 10142854
Registro inserido com sucesso: 10143009
Registro inserido com sucesso: 10143516
Registro inserido com sucesso: 10141843
Registro inserido com sucesso: 10141864
Registro inserido com sucesso: 10142477
Registro inserido com sucesso: 10142656
Registro inserido com sucesso: 10142978
Registro inserido com sucesso: 10143229
Registro inserido com sucesso: 10143466
Registro inserido com sucesso: 10143589
Registro inserido com sucesso: 10141527
Registro inserido com sucesso: 10142256
Registro inserido com sucesso: 10142817
Registro inserido com sucesso: 10143268
Registro inserido com sucesso: 10141943
Registro inserido com sucesso: 10142584
Registro inserido com sucesso: 10142721
Registro inserido com sucesso: 10142873
Registro inserido com sucesso: 10142962
Registro inserido com sucesso: 10143032
Registro inserido com sucesso: 10143327
Registro inserido com sucesso: 10143422
Registro inserido com sucesso: 10142303
Registro inserido com sucesso: 10142453
Registro inserido com sucesso: 10142825
Registro inserido com sucesso: 10143018
Registro inserido com sucesso: 10143198
Registro inserido com sucesso: 10143418
Registro inserido com sucesso: 10143488
Registro inserido com sucesso: 10141676
Registro inserido com sucesso: 10141697
Registro inserido com sucesso: 10141729
Registro inserido com sucesso: 10142567
Registro inserido com sucesso: 10142720
Registro inserido com sucesso: 10142826
Registro inserido com sucesso: 10143445
Registro inserido com sucesso: 10143565
Registro inserido com sucesso: 10141651
Registro inserido com sucesso: 10142846
Registro inserido com sucesso: 10142857
Registro inserido com sucesso: 10143505
Registro inserido com sucesso: 10142278
Registro inserido com sucesso: 10142411
Registro inserido com sucesso: 10141522
Registro inserido com sucesso: 10141566
Registro inserido com sucesso: 10141627
Registro inserido com sucesso: 10141670
Registro inserido com sucesso: 10141841
Registro inserido com sucesso: 10141855
Registro inserido com sucesso: 10141867
Registro inserido com sucesso: 10142146
Registro inserido com sucesso: 10142486
Registro inserido com sucesso: 10142905
Registro inserido com sucesso: 10142927
Registro inserido com sucesso: 10143058
Registro inserido com sucesso: 10143102
Registro inserido com sucesso: 10141979
Registro inserido com sucesso: 10142000
Registro inserido com sucesso: 10142017
Registro inserido com sucesso: 10142276
Registro inserido com sucesso: 10142413
Registro inserido com sucesso: 10142476
Registro inserido com sucesso: 10142518
Registro inserido com sucesso: 10142563
Registro inserido com sucesso: 10143093
Registro inserido com sucesso: 10143469
Registro inserido com sucesso: 10143561
Registro inserido com sucesso: 10141548
Registro inserido com sucesso: 10141924
Registro inserido com sucesso: 10142081
Registro inserido com sucesso: 10142438
Registro inserido com sucesso: 10142613
Registro inserido com sucesso: 10143212
Registro inserido com sucesso: 10143605
Registro inserido com sucesso: 10142365
Registro inserido com sucesso: 10142464
Registro inserido com sucesso: 10142527
Registro inserido com sucesso: 10142835
Registro inserido com sucesso: 10143570
Registro inserido com sucesso: 10142618
Registro inserido com sucesso: 10143004
Registro inserido com sucesso: 10141513
Registro inserido com sucesso: 10141579
Registro inserido com sucesso: 10141801
Registro inserido com sucesso: 10141940
Registro inserido com sucesso: 10143108
Registro inserido com sucesso: 10143247
Registro inserido com sucesso: 10143539
Registro inserido com sucesso: 10141814
Registro inserido com sucesso: 10142342
Registro inserido com sucesso: 10142862
Registro inserido com sucesso: 10143329
Registro inserido com sucesso: 10143394
Registro inserido com sucesso: 10141693
Registro inserido com sucesso: 10142263
Registro inserido com sucesso: 10142343
Registro inserido com sucesso: 10143023
Registro inserido com sucesso: 10143244
Registro inserido com sucesso: 10143341
Registro inserido com sucesso: 10143502
Registro inserido com sucesso: 10141907
Registro inserido com sucesso: 10142008
Registro inserido com sucesso: 10142177
Registro inserido com sucesso: 10142295
Registro inserido com sucesso: 10142341
Registro inserido com sucesso: 10142443
Registro inserido com sucesso: 10142734
Registro inserido com sucesso: 10142902
Registro inserido com sucesso: 10143245
Registro inserido com sucesso: 10141561
Registro inserido com sucesso: 10141655
Registro inserido com sucesso: 10142103
Registro inserido com sucesso: 10142298
Registro inserido com sucesso: 10142707
Registro inserido com sucesso: 10142798
Registro inserido com sucesso: 10142966
Registro inserido com sucesso: 10143144
Registro inserido com sucesso: 10141505
Registro inserido com sucesso: 10141640
Registro inserido com sucesso: 10142580
Registro inserido com sucesso: 10142603
Registro inserido com sucesso: 10142915
Registro inserido com sucesso: 10141517
Registro inserido com sucesso: 10141559
Registro inserido com sucesso: 10141648
Registro inserido com sucesso: 10141741
Registro inserido com sucesso: 10142019
Registro inserido com sucesso: 10142059
Registro inserido com sucesso: 10142236
Registro inserido com sucesso: 10142306
Registro inserido com sucesso: 10142309
Registro inserido com sucesso: 10143343
Registro inserido com sucesso: 10143514
Registro inserido com sucesso: 10141956
Registro inserido com sucesso: 10142173
Registro inserido com sucesso: 10142238
Registro inserido com sucesso: 10142551
Registro inserido com sucesso: 10142779
Registro inserido com sucesso: 10143261
Registro inserido com sucesso: 10141896

Registro inserido com sucesso: 10141905
Registro inserido com sucesso: 10142142
Registro inserido com sucesso: 10142216
Registro inserido com sucesso: 10142423
Registro inserido com sucesso: 10142611
Registro inserido com sucesso: 10143338
Registro inserido com sucesso: 10143548
Registro inserido com sucesso: 10141584
Registro inserido com sucesso: 10141628
Registro inserido com sucesso: 10141781
Registro inserido com sucesso: 10142555
Registro inserido com sucesso: 10142833
Registro inserido com sucesso: 10142988
Registro inserido com sucesso: 10143071
Registro inserido com sucesso: 10143124
Registro inserido com sucesso: 10141592
Registro inserido com sucesso: 10141675
Registro inserido com sucesso: 10142394
Registro inserido com sucesso: 10142571
Registro inserido com sucesso: 10142761
Registro inserido com sucesso: 10142964
Registro inserido com sucesso: 10143313
Registro inserido com sucesso: 10143490
Registro inserido com sucesso: 10142421
Registro inserido com sucesso: 10142871
Registro inserido com sucesso: 10143002
Registro inserido com sucesso: 10143095
Registro inserido com sucesso: 10143237
Registro inserido com sucesso: 10142209
Registro inserido com sucesso: 10142569
Registro inserido com sucesso: 10142702
Registro inserido com sucesso: 10143267
Registro inserido com sucesso: 10143302
Registro inserido com sucesso: 10141533
Registro inserido com sucesso: 10141687
Registro inserido com sucesso: 10142657
Registro inserido com sucesso: 10141541
Registro inserido com sucesso: 10141754
Registro inserido com sucesso: 10142250
Registro inserido com sucesso: 10142672
Registro inserido com sucesso: 10143187
Registro inserido com sucesso: 10143293
Registro inserido com sucesso: 10141709
Registro inserido com sucesso: 10142193
Registro inserido com sucesso: 10142717
Registro inserido com sucesso: 10143283
Registro inserido com sucesso: 10143497
Registro inserido com sucesso: 10143612
Registro inserido com sucesso: 10141702
Registro inserido com sucesso: 10141753
Registro inserido com sucesso: 10142123
Registro inserido com sucesso: 10142202
Registro inserido com sucesso: 10142607
Registro inserido com sucesso: 10141555
Registro inserido com sucesso: 10141689
Registro inserido com sucesso: 10141722
Registro inserido com sucesso: 10142274
Registro inserido com sucesso: 10142287
Registro inserido com sucesso: 10142358
Registro inserido com sucesso: 10142760
Registro inserido com sucesso: 10143280
Registro inserido com sucesso: 10143358
Registro inserido com sucesso: 10143390
Registro inserido com sucesso: 10143555
Registro inserido com sucesso: 10143557
Registro inserido com sucesso: 10143623
Registro inserido com sucesso: 10141508
Registro inserido com sucesso: 10141817
Registro inserido com sucesso: 10142030
Registro inserido com sucesso: 10142178
Registro inserido com sucesso: 10143005
Registro inserido com sucesso: 10143564
Registro inserido com sucesso: 10142037
Registro inserido com sucesso: 10142592
Registro inserido com sucesso: 10143378
Registro inserido com sucesso: 10143442
Registro inserido com sucesso: 10142097
Registro inserido com sucesso: 10142701
Registro inserido com sucesso: 10142823
Registro inserido com sucesso: 10143360
Registro inserido com sucesso: 10143364
Registro inserido com sucesso: 10143434
Registro inserido com sucesso: 10141624
Registro inserido com sucesso: 10141638
Registro inserido com sucesso: 10141706
Registro inserido com sucesso: 10141795
Registro inserido com sucesso: 10141838
Registro inserido com sucesso: 10142189
Registro inserido com sucesso: 10143065
Registro inserido com sucesso: 10143205
Registro inserido com sucesso: 10141857
Registro inserido com sucesso: 10141930
Registro inserido com sucesso: 10142285
Registro inserido com sucesso: 10143222
Registro inserido com sucesso: 10142148
Registro inserido com sucesso: 10142539
Registro inserido com sucesso: 10142847
Registro inserido com sucesso: 10141823
Registro inserido com sucesso: 10141953
Registro inserido com sucesso: 10141988
Registro inserido com sucesso: 10142221
Registro inserido com sucesso: 10142830
Registro inserido com sucesso: 10143494
Registro inserido com sucesso: 10143607
Registro inserido com sucesso: 10141599
Registro inserido com sucesso: 10142255
Registro inserido com sucesso: 10142467
Registro inserido com sucesso: 10142582
Registro inserido com sucesso: 10142675
Registro inserido com sucesso: 10143453
Registro inserido com sucesso: 10141511
Registro inserido com sucesso: 10142034
Registro inserido com sucesso: 10142909
Registro inserido com sucesso: 10142118
Registro inserido com sucesso: 10142724
Registro inserido com sucesso: 10142803
Registro inserido com sucesso: 10142834
Registro inserido com sucesso: 10143214
Registro inserido com sucesso: 10143588
Registro inserido com sucesso: 10141711
Registro inserido com sucesso: 10142038
Registro inserido com sucesso: 10142217
Registro inserido com sucesso: 10142251
Registro inserido com sucesso: 10142436
Registro inserido com sucesso: 10142719
Registro inserido com sucesso: 10142764
Registro inserido com sucesso: 10141684
Registro inserido com sucesso: 10143053
Registro inserido com sucesso: 10141525
Registro inserido com sucesso: 10141603
Registro inserido com sucesso: 10141619
Registro inserido com sucesso: 10142157
Registro inserido com sucesso: 10142174
Registro inserido com sucesso: 10143099
Registro inserido com sucesso: 10143162
Registro inserido com sucesso: 10143513
Registro inserido com sucesso: 10141535
Registro inserido com sucesso: 10142449
Registro inserido com sucesso: 10142735
Registro inserido com sucesso: 10143016
Registro inserido com sucesso: 10143094
Registro inserido com sucesso: 10143232
Registro inserido com sucesso: 10141639
Registro inserido com sucesso: 10141736
Registro inserido com sucesso: 10142718
Registro inserido com sucesso: 10143387
Registro inserido com sucesso: 10143443
Registro inserido com sucesso: 10141524
Registro inserido com sucesso: 10141633
Registro inserido com sucesso: 10142293
Registro inserido com sucesso: 10143602
Registro inserido com sucesso: 10141645
Registro inserido com sucesso: 10141785
Registro inserido com sucesso: 10142153
Registro inserido com sucesso: 10142853
Registro inserido com sucesso: 10143459
Registro inserido com sucesso: 10141779
Registro inserido com sucesso: 10141874
Registro inserido com sucesso: 10141935
Registro inserido com sucesso: 10142301
Registro inserido com sucesso: 10143097
Registro inserido com sucesso: 10143098
Registro inserido com sucesso: 10143320
Registro inserido com sucesso: 10143450
Registro inserido com sucesso: 10141761
Registro inserido com sucesso: 10142314
Registro inserido com sucesso: 10142507
Registro inserido com sucesso: 10143270
Registro inserido com sucesso: 10143533
Registro inserido com sucesso: 10143537
Registro inserido com sucesso: 10141927
Registro inserido com sucesso: 10142948
Registro inserido com sucesso: 10143239
Registro inserido com sucesso: 10141964
Registro inserido com sucesso: 10142207
Registro inserido com sucesso: 10142262
Registro inserido com sucesso: 10142304
Registro inserido com sucesso: 10142473
Registro inserido com sucesso: 10142531
Registro inserido com sucesso: 10142573
Registro inserido com sucesso: 10143077
Registro inserido com sucesso: 10143381
Registro inserido com sucesso: 10143594
Registro inserido com sucesso: 10141802
Registro inserido com sucesso: 10141995
Registro inserido com sucesso: 10142434
Registro inserido com sucesso: 10142651
Registro inserido com sucesso: 10142725
Registro inserido com sucesso: 10142754
Registro inserido com sucesso: 10143368
Registro inserido com sucesso: 10141911
Registro inserido com sucesso: 10142082
Registro inserido com sucesso: 10142425
Registro inserido com sucesso: 10142615
Registro inserido com sucesso: 10142678
Registro inserido com sucesso: 10142951
Registro inserido com sucesso: 10143501
Registro inserido com sucesso: 10141887
Registro inserido com sucesso: 10142001
Registro inserido com sucesso: 10142063
Registro inserido com sucesso: 10142114
Registro inserido com sucesso: 10143615
Registro inserido com sucesso: 10141621
Registro inserido com sucesso: 10141634
Registro inserido com sucesso: 10141821
Registro inserido com sucesso: 10142094
Registro inserido com sucesso: 10143034
Registro inserido com sucesso: 10143141

Registro inserido com sucesso: 10143409
Registro inserido com sucesso: 10141662
Registro inserido com sucesso: 10141834
Registro inserido com sucesso: 10141965
Registro inserido com sucesso: 10142377
Registro inserido com sucesso: 10142458
Registro inserido com sucesso: 10142991
Registro inserido com sucesso: 10143251
Registro inserido com sucesso: 10141547
Registro inserido com sucesso: 10141931
Registro inserido com sucesso: 10143264
Registro inserido com sucesso: 10141544
Registro inserido com sucesso: 10141694
Registro inserido com sucesso: 10142162
Registro inserido com sucesso: 10142855
Registro inserido com sucesso: 10141748
Registro inserido com sucesso: 10141951
Registro inserido com sucesso: 10142327
Registro inserido com sucesso: 10142900
Registro inserido com sucesso: 10143043
Registro inserido com sucesso: 10143275
Registro inserido com sucesso: 10143411
Registro inserido com sucesso: 10143499
Registro inserido com sucesso: 10143515
Registro inserido com sucesso: 10141576
Registro inserido com sucesso: 10141803
Registro inserido com sucesso: 10142010
Registro inserido com sucesso: 10142014
Registro inserido com sucesso: 10142767
Registro inserido com sucesso: 10141602
Registro inserido com sucesso: 10141664
Registro inserido com sucesso: 10141666
Registro inserido com sucesso: 10142246
Registro inserido com sucesso: 10142938
Registro inserido com sucesso: 10143151
Registro inserido com sucesso: 10143289
Registro inserido com sucesso: 10141613
Registro inserido com sucesso: 10141919
Registro inserido com sucesso: 10141925
Registro inserido com sucesso: 10141970
Registro inserido com sucesso: 10142167
Registro inserido com sucesso: 10142191
Registro inserido com sucesso: 10142441
Registro inserido com sucesso: 10142514
Registro inserido com sucesso: 10143201
Registro inserido com sucesso: 10143552
Registro inserido com sucesso: 10141728
Registro inserido com sucesso: 10142960
Registro inserido com sucesso: 10143039
Registro inserido com sucesso: 10142052
Registro inserido com sucesso: 10142339
Registro inserido com sucesso: 10142426
Registro inserido com sucesso: 10142894
Registro inserido com sucesso: 10143172
Registro inserido com sucesso: 10143256
Registro inserido com sucesso: 10143336
Registro inserido com sucesso: 10141774
Registro inserido com sucesso: 10142130
Registro inserido com sucesso: 10142422
Registro inserido com sucesso: 10142604
Registro inserido com sucesso: 10142609
Registro inserido com sucesso: 10142744
Registro inserido com sucesso: 10142872
Registro inserido com sucesso: 10142917
Registro inserido com sucesso: 10142950
Registro inserido com sucesso: 10141775
Registro inserido com sucesso: 10141789
Registro inserido com sucesso: 10141984
Registro inserido com sucesso: 10142195
Registro inserido com sucesso: 10143089
Registro inserido com sucesso: 10141894
Registro inserido com sucesso: 10141991
Registro inserido com sucesso: 10142085
Registro inserido com sucesso: 10142389
Registro inserido com sucesso: 10142752
Registro inserido com sucesso: 10143022
Registro inserido com sucesso: 10143117
Registro inserido com sucesso: 10143456
Registro inserido com sucesso: 10143544
Registro inserido com sucesso: 10142529
Registro inserido com sucesso: 10142799
Registro inserido com sucesso: 10143015
Registro inserido com sucesso: 10143447
Registro inserido com sucesso: 10143495
Registro inserido com sucesso: 10141782
Registro inserido com sucesso: 10141946
Registro inserido com sucesso: 10142517
Registro inserido com sucesso: 10142895
Registro inserido com sucesso: 10143379
Registro inserido com sucesso: 10143618
Registro inserido com sucesso: 10141717
Registro inserido com sucesso: 10141918
Registro inserido com sucesso: 10142237
Registro inserido com sucesso: 10142320
Registro inserido com sucesso: 10142500
Registro inserido com sucesso: 10142585
Registro inserido com sucesso: 10142914
Registro inserido com sucesso: 10142929
Registro inserido com sucesso: 10143337
Registro inserido com sucesso: 10143413
Registro inserido com sucesso: 10141575
Registro inserido com sucesso: 10141714
Registro inserido com sucesso: 10141890
Registro inserido com sucesso: 10142516
Registro inserido com sucesso: 10143546
Registro inserido com sucesso: 10141819
Registro inserido com sucesso: 10142596
Registro inserido com sucesso: 10143112
Registro inserido com sucesso: 10143427
Registro inserido com sucesso: 10143467
Registro inserido com sucesso: 10141594
Registro inserido com sucesso: 10142431
Registro inserido com sucesso: 10142837
Registro inserido com sucesso: 10143255
Registro inserido com sucesso: 10143326
Registro inserido com sucesso: 10143366
Registro inserido com sucesso: 10143384
Registro inserido com sucesso: 10143405
Registro inserido com sucesso: 10143452
Registro inserido com sucesso: 10143592
Registro inserido com sucesso: 10141696
Registro inserido com sucesso: 10142281
Registro inserido com sucesso: 10142963
Registro inserido com sucesso: 10141882
Registro inserido com sucesso: 10142150
Registro inserido com sucesso: 10142812
Registro inserido com sucesso: 10142845
Registro inserido com sucesso: 10142912
Registro inserido com sucesso: 10142992
Registro inserido com sucesso: 10143007
Registro inserido com sucesso: 10143206
Registro inserido com sucesso: 10143272
Registro inserido com sucesso: 10143361
Registro inserido com sucesso: 10141597
Registro inserido com sucesso: 10141977
Registro inserido com sucesso: 10142499
Registro inserido com sucesso: 10142723
Registro inserido com sucesso: 10142899
Registro inserido com sucesso: 10143168
Registro inserido com sucesso: 10141598
Registro inserido com sucesso: 10141678
Registro inserido com sucesso: 10142055
Registro inserido com sucesso: 10142192
Registro inserido com sucesso: 10142345
Registro inserido com sucesso: 10142547
Registro inserido com sucesso: 10142645
Registro inserido com sucesso: 10143269
Registro inserido com sucesso: 10143297
Registro inserido com sucesso: 10143406
Registro inserido com sucesso: 10143431
Registro inserido com sucesso: 10141610
Registro inserido com sucesso: 10141776
Registro inserido com sucesso: 10141929
Registro inserido com sucesso: 10142308
Registro inserido com sucesso: 10142404
Registro inserido com sucesso: 10142483
Registro inserido com sucesso: 10143091
Registro inserido com sucesso: 10143285
Registro inserido com sucesso: 10141716
Registro inserido com sucesso: 10142353
Registro inserido com sucesso: 10142376
Registro inserido com sucesso: 10142740
Registro inserido com sucesso: 10142878
Registro inserido com sucesso: 10142897
Registro inserido com sucesso: 10142107
Registro inserido com sucesso: 10141948
Registro inserido com sucesso: 10142048
Registro inserido com sucesso: 10142065
Registro inserido com sucesso: 10142229
Registro inserido com sucesso: 10143566
Registro inserido com sucesso: 10143600
Registro inserido com sucesso: 10141973
Registro inserido com sucesso: 10142346
Registro inserido com sucesso: 10142401
Registro inserido com sucesso: 10142534
Registro inserido com sucesso: 10142746
Registro inserido com sucesso: 10142911
Registro inserido com sucesso: 10143299
Registro inserido com sucesso: 10143382
Registro inserido com sucesso: 10141881
Registro inserido com sucesso: 10142231
Registro inserido com sucesso: 10142770
Registro inserido com sucesso: 10143423
Registro inserido com sucesso: 10143531
Registro inserido com sucesso: 10143597
Registro inserido com sucesso: 10141812
Registro inserido com sucesso: 10142836
Registro inserido com sucesso: 10142906
Registro inserido com sucesso: 10143129
Registro inserido com sucesso: 10141950
Registro inserido com sucesso: 10142385
Registro inserido com sucesso: 10142868
Registro inserido com sucesso: 10142908
Registro inserido com sucesso: 10142842
Registro inserido com sucesso: 10143128
Registro inserido com sucesso: 10143611
Registro inserido com sucesso: 10141545
Registro inserido com sucesso: 10141569
Registro inserido com sucesso: 10141842
Registro inserido com sucesso: 10142451
Registro inserido com sucesso: 10142763
Registro inserido com sucesso: 10142986
Registro inserido com sucesso: 10143148
Registro inserido com sucesso: 10141944
Registro inserido com sucesso: 10142042
Registro inserido com sucesso: 10142488
Registro inserido com sucesso: 10143534
Registro inserido com sucesso: 10143572
Registro inserido com sucesso: 10141606
Registro inserido com sucesso: 10141691
Registro inserido com sucesso: 10141902
Registro inserido com sucesso: 10142228
Registro inserido com sucesso: 10142619
Registro inserido com sucesso: 10142916
Registro inserido com sucesso: 10143295
Registro inserido com sucesso: 10143346
Registro inserido com sucesso: 10143619
Registro inserido com sucesso: 10142230
Registro inserido com sucesso: 10143202
Registro inserido com sucesso: 10142321
Registro inserido com sucesso: 10142599
Registro inserido com sucesso: 10142940
Registro inserido com sucesso: 10143504
Registro inserido com sucesso: 10142071
Registro inserido com sucesso: 10143000
Registro inserido com sucesso: 10143304
Registro inserido com sucesso: 10142180
Registro inserido com sucesso: 10142437

Registro inserido com sucesso: 10142937
Registro inserido com sucesso: 10142959
Registro inserido com sucesso: 10142996
Registro inserido com sucesso: 10143127
Registro inserido com sucesso: 10143135
Registro inserido com sucesso: 10143216
Registro inserido com sucesso: 10143470
Registro inserido com sucesso: 10141568
Registro inserido com sucesso: 10141686
Registro inserido com sucesso: 10141791
Registro inserido com sucesso: 10142074
Registro inserido com sucesso: 10142665
Registro inserido com sucesso: 10143049
Registro inserido com sucesso: 10143178
Registro inserido com sucesso: 10142044
Registro inserido com sucesso: 10142311
Registro inserido com sucesso: 10142533
Registro inserido com sucesso: 10142642
Registro inserido com sucesso: 10143503
Registro inserido com sucesso: 10143551
Registro inserido com sucesso: 10142644
Registro inserido com sucesso: 10142843
Registro inserido com sucesso: 10141847
Registro inserido com sucesso: 10142224
Registro inserido com sucesso: 10142824
Registro inserido com sucesso: 10143183
Registro inserido com sucesso: 10143571
Registro inserido com sucesso: 10142027
Registro inserido com sucesso: 10142190
Registro inserido com sucesso: 10142350
Registro inserido com sucesso: 10142755
Registro inserido com sucesso: 10143105
Registro inserido com sucesso: 10143116
Registro inserido com sucesso: 10143584
Registro inserido com sucesso: 10141506
Registro inserido com sucesso: 10142387
Registro inserido com sucesso: 10142390
Registro inserido com sucesso: 10142487
Registro inserido com sucesso: 10143235
Registro inserido com sucesso: 10143303
Registro inserido com sucesso: 10143417
Registro inserido com sucesso: 10143604
Registro inserido com sucesso: 10142047
Registro inserido com sucesso: 10142239
Registro inserido com sucesso: 10142583
Registro inserido com sucesso: 10142838
Registro inserido com sucesso: 10143101
Registro inserido com sucesso: 10143344
Registro inserido com sucesso: 10141682
Registro inserido com sucesso: 10142234
Registro inserido com sucesso: 10142355
Registro inserido com sucesso: 10142510
Registro inserido com sucesso: 10143068
Registro inserido com sucesso: 10143170
Registro inserido com sucesso: 10143517
Registro inserido com sucesso: 10141623
Registro inserido com sucesso: 10141974
Registro inserido com sucesso: 10142213
Registro inserido com sucesso: 10142457
Registro inserido com sucesso: 10142490
Registro inserido com sucesso: 10143083
Registro inserido com sucesso: 10143254
Registro inserido com sucesso: 10143479
Registro inserido com sucesso: 10141725
Registro inserido com sucesso: 10141731
Registro inserido com sucesso: 10141800
Registro inserido com sucesso: 10141852
Registro inserido com sucesso: 10142045
Registro inserido com sucesso: 10142147
Registro inserido com sucesso: 10142244
Registro inserido com sucesso: 10142331
Registro inserido com sucesso: 10143042
Registro inserido com sucesso: 10143215
Registro inserido com sucesso: 10141719
Registro inserido com sucesso: 10141868
Registro inserido com sucesso: 10141883
Registro inserido com sucesso: 10142375
Registro inserido com sucesso: 10142957
Registro inserido com sucesso: 10143528
Registro inserido com sucesso: 10143573
Registro inserido com sucesso: 10141590
Registro inserido com sucesso: 10141649
Registro inserido com sucesso: 10141914
Registro inserido com sucesso: 10142200
Registro inserido com sucesso: 10142245
Registro inserido com sucesso: 10142400
Registro inserido com sucesso: 10142485
Registro inserido com sucesso: 10142802
Registro inserido com sucesso: 10143096
Registro inserido com sucesso: 10143218
Registro inserido com sucesso: 10143225
Registro inserido com sucesso: 10143230
Registro inserido com sucesso: 10141904
Registro inserido com sucesso: 10142747
Registro inserido com sucesso: 10143029
Registro inserido com sucesso: 10143357
Registro inserido com sucesso: 10141756
Registro inserido com sucesso: 10142283
Registro inserido com sucesso: 10142524
Registro inserido com sucesso: 10142743
Registro inserido com sucesso: 10142910
Registro inserido com sucesso: 10143054
Registro inserido com sucesso: 10141692
Registro inserido com sucesso: 10141872
Registro inserido com sucesso: 10142022
Registro inserido com sucesso: 10142407
Registro inserido com sucesso: 10142622
Registro inserido com sucesso: 10142904
Registro inserido com sucesso: 10143500
Registro inserido com sucesso: 10141618
Registro inserido com sucesso: 10141889
Registro inserido com sucesso: 10142235
Registro inserido com sucesso: 10142807
Registro inserido com sucesso: 10143036
Registro inserido com sucesso: 10143575
Registro inserido com sucesso: 10142789
Registro inserido com sucesso: 10143449
Registro inserido com sucesso: 10142203
Registro inserido com sucesso: 10142205
Registro inserido com sucesso: 10142220
Registro inserido com sucesso: 10142367
Registro inserido com sucesso: 10142444
Registro inserido com sucesso: 10142459
Registro inserido com sucesso: 10142526
Registro inserido com sucesso: 10142689
Registro inserido com sucesso: 10143063
Registro inserido com sucesso: 10141816
Registro inserido com sucesso: 10142198
Registro inserido com sucesso: 10143498
Registro inserido com sucesso: 10141849
Registro inserido com sucesso: 10142096
Registro inserido com sucesso: 10142258
Registro inserido com sucesso: 10142771
Registro inserido com sucesso: 10142934
Registro inserido com sucesso: 10143354
Registro inserido com sucesso: 10143444
Registro inserido com sucesso: 10143518
Registro inserido com sucesso: 10141674
Registro inserido com sucesso: 10141994
Registro inserido com sucesso: 10143190
Registro inserido com sucesso: 10143322
Registro inserido com sucesso: 10142025
Registro inserido com sucesso: 10142456
Registro inserido com sucesso: 10143465
Registro inserido com sucesso: 10141501
Registro inserido com sucesso: 10142417
Registro inserido com sucesso: 10142861
Registro inserido com sucesso: 10143122
Registro inserido com sucesso: 10143522
Registro inserido com sucesso: 10142382
Registro inserido com sucesso: 10142429
Registro inserido com sucesso: 10142447
Registro inserido com sucesso: 10142944
Registro inserido com sucesso: 10142956
Registro inserido com sucesso: 10143103
Registro inserido com sucesso: 10143221
Registro inserido com sucesso: 10143279
Registro inserido com sucesso: 10143373
Registro inserido com sucesso: 10143581
Registro inserido com sucesso: 10141622
Registro inserido com sucesso: 10141680
Registro inserido com sucesso: 10141813
Registro inserido com sucesso: 10142271
Registro inserido com sucesso: 10142409
Registro inserido com sucesso: 10142558
Registro inserido com sucesso: 10143376
Registro inserido com sucesso: 10143492
Registro inserido com sucesso: 10141509
Registro inserido com sucesso: 10142233
Registro inserido com sucesso: 10142448
Registro inserido com sucesso: 10142741
Registro inserido com sucesso: 10142786
Registro inserido com sucesso: 10142791
Registro inserido com sucesso: 10142968
Registro inserido com sucesso: 10141546
Registro inserido com sucesso: 10141647
Registro inserido com sucesso: 10141840
Registro inserido com sucesso: 10142176
Registro inserido com sucesso: 10142631
Registro inserido com sucesso: 10143059
Registro inserido com sucesso: 10142403
Registro inserido com sucesso: 10142577
Registro inserido com sucesso: 10142814
Registro inserido com sucesso: 10142884
Registro inserido com sucesso: 10143150
Registro inserido com sucesso: 10143483
Registro inserido com sucesso: 10141551
Registro inserido com sucesso: 10141629
Registro inserido com sucesso: 10141707
Registro inserido com sucesso: 10142132
Registro inserido com sucesso: 10142307
Registro inserido com sucesso: 10142612
Registro inserido com sucesso: 10143109
Registro inserido com sucesso: 10143143
Registro inserido com sucesso: 10143262
Registro inserido com sucesso: 10141540
Registro inserido com sucesso: 10141667
Registro inserido com sucesso: 10142410
Registro inserido com sucesso: 10142468
Registro inserido com sucesso: 10142858
Registro inserido com sucesso: 10142995
Registro inserido com sucesso: 10143260
Registro inserido com sucesso: 10143399
Registro inserido com sucesso: 10142087
Registro inserido com sucesso: 10142095
Registro inserido com sucesso: 10142901
Registro inserido com sucesso: 10143211
Registro inserido com sucesso: 10142653
Registro inserido com sucesso: 10143126
Registro inserido com sucesso: 10141700
Registro inserido com sucesso: 10141757
Registro inserido com sucesso: 10141972
Registro inserido com sucesso: 10142060
Registro inserido com sucesso: 10142623

Registro inserido com sucesso: 10142831
Registro inserido com sucesso: 10142852
Registro inserido com sucesso: 10143072
Registro inserido com sucesso: 10143219
Registro inserido com sucesso: 10143350
Registro inserido com sucesso: 10143562
Registro inserido com sucesso: 10141572
Registro inserido com sucesso: 10142004
Registro inserido com sucesso: 10142069
Registro inserido com sucesso: 10142219
Registro inserido com sucesso: 10142324
Registro inserido com sucesso: 10142515
Registro inserido com sucesso: 10142565
Registro inserido com sucesso: 10142712
Registro inserido com sucesso: 10143324
Registro inserido com sucesso: 10142029
Registro inserido com sucesso: 10142105
Registro inserido com sucesso: 10142302
Registro inserido com sucesso: 10142334
Registro inserido com sucesso: 10142606
Registro inserido com sucesso: 10142888
Registro inserido com sucesso: 10142994
Registro inserido com sucesso: 10141632
Registro inserido com sucesso: 10141688
Registro inserido com sucesso: 10141727
Registro inserido com sucesso: 10141982
Registro inserido com sucesso: 10142078
Registro inserido com sucesso: 10142579
Registro inserido com sucesso: 10142829
Registro inserido com sucesso: 10141832
Registro inserido com sucesso: 10141870
Registro inserido com sucesso: 10141908
Registro inserido com sucesso: 10142379
Registro inserido com sucesso: 10142877
Registro inserido com sucesso: 10143149
Registro inserido com sucesso: 10143582
Registro inserido com sucesso: 10141909
Registro inserido com sucesso: 10141971
Registro inserido com sucesso: 10142007
Registro inserido com sucesso: 10142056
Registro inserido com sucesso: 10142722
Registro inserido com sucesso: 10142924
Registro inserido com sucesso: 10143383
Registro inserido com sucesso: 10141993
Registro inserido com sucesso: 10142586
Registro inserido com sucesso: 10142681
Registro inserido com sucesso: 10142787
Registro inserido com sucesso: 10143309
Registro inserido com sucesso: 10142005
Registro inserido com sucesso: 10142480
Registro inserido com sucesso: 10142955
Registro inserido com sucesso: 10143281
Registro inserido com sucesso: 10143585
Registro inserido com sucesso: 10141502
Registro inserido com sucesso: 10142536
Registro inserido com sucesso: 10142859
Registro inserido com sucesso: 10143308
Registro inserido com sucesso: 10143480
Registro inserido com sucesso: 10143520
Registro inserido com sucesso: 10143606
Registro inserido com sucesso: 10141562
Registro inserido com sucesso: 10141879
Registro inserido com sucesso: 10141915
Registro inserido com sucesso: 10141992
Registro inserido com sucesso: 10142240
Registro inserido com sucesso: 10142821
Registro inserido com sucesso: 10142840
Registro inserido com sucesso: 10142965
Registro inserido com sucesso: 10143527
Registro inserido com sucesso: 10143568
Registro inserido com sucesso: 10143599
Registro inserido com sucesso: 10141708
Registro inserido com sucesso: 10141804
Registro inserido com sucesso: 10141978
Registro inserido com sucesso: 10142122
Registro inserido com sucesso: 10142590
Registro inserido com sucesso: 10142643
Registro inserido com sucesso: 10143066
Registro inserido com sucesso: 10142402
Registro inserido com sucesso: 10142440
Registro inserido com sucesso: 10142775
Registro inserido com sucesso: 10142801
Registro inserido com sucesso: 10143165
Registro inserido com sucesso: 10141986
Registro inserido com sucesso: 10142442
Registro inserido com sucesso: 10142922
Registro inserido com sucesso: 10143030
Registro inserido com sucesso: 10143138
Registro inserido com sucesso: 10143217
Registro inserido com sucesso: 10143311
Registro inserido com sucesso: 10143419
Registro inserido com sucesso: 10141558
Registro inserido com sucesso: 10141567
Registro inserido com sucesso: 10141604
Registro inserido com sucesso: 10141921
Registro inserido com sucesso: 10141976
Registro inserido com sucesso: 10143388
Registro inserido com sucesso: 10143439
Registro inserido com sucesso: 10143511
Registro inserido com sucesso: 10141764
Registro inserido com sucesso: 10141833
Registro inserido com sucesso: 10142165
Registro inserido com sucesso: 10142578
Registro inserido com sucesso: 10142658
Registro inserido com sucesso: 10143306
Registro inserido com sucesso: 10143395
Registro inserido com sucesso: 10141698
Registro inserido com sucesso: 10141839
Registro inserido com sucesso: 10142210
Registro inserido com sucesso: 10143363
Registro inserido com sucesso: 10143532
Registro inserido com sucesso: 10141742
Registro inserido com sucesso: 10143440
Registro inserido com sucesso: 10141752
Registro inserido com sucesso: 10142208
Registro inserido com sucesso: 10142428
Registro inserido com sucesso: 10142649
Registro inserido com sucesso: 10143266
Registro inserido com sucesso: 10143271
Registro inserido com sucesso: 10143367
Registro inserido com sucesso: 10143463
Registro inserido com sucesso: 10143529
Registro inserido com sucesso: 10143627
Registro inserido com sucesso: 10142119
Registro inserido com sucesso: 10142614
Registro inserido com sucesso: 10142907
Registro inserido com sucesso: 10143437
Registro inserido com sucesso: 10143569
Registro inserido com sucesso: 10142412
Registro inserido com sucesso: 10142999
Registro inserido com sucesso: 10143121
Registro inserido com sucesso: 10143161
Registro inserido com sucesso: 10143195
Registro inserido com sucesso: 10141737
Registro inserido com sucesso: 10142098
Registro inserido com sucesso: 10143084
Registro inserido com sucesso: 10143171
Registro inserido com sucesso: 10142154
Registro inserido com sucesso: 10142313
Registro inserido com sucesso: 10142856
Registro inserido com sucesso: 10142418
Registro inserido com sucesso: 10142435
Registro inserido com sucesso: 10143420
Registro inserido com sucesso: 10141665
Registro inserido com sucesso: 10142158
Registro inserido com sucesso: 10142223
Registro inserido com sucesso: 10142492
Registro inserido com sucesso: 10142708
Registro inserido com sucesso: 10142762
Registro inserido com sucesso: 10143047
Registro inserido com sucesso: 10143188
Registro inserido com sucesso: 10143370
Registro inserido com sucesso: 10141553
Registro inserido com sucesso: 10142215
Registro inserido com sucesso: 10143288
Registro inserido com sucesso: 10143577
Registro inserido com sucesso: 10141626
Registro inserido com sucesso: 10141652
Registro inserido com sucesso: 10142058
Registro inserido com sucesso: 10143082
Registro inserido com sucesso: 10143626
Registro inserido com sucesso: 10141672
Registro inserido com sucesso: 10142294
Registro inserido com sucesso: 10142630
Registro inserido com sucesso: 10142997
Registro inserido com sucesso: 10141768
Registro inserido com sucesso: 10141898
Registro inserido com sucesso: 10142265
Registro inserido com sucesso: 10142759
Registro inserido com sucesso: 10142928
Registro inserido com sucesso: 10142989
Registro inserido com sucesso: 10143181
Registro inserido com sucesso: 10143241
Registro inserido com sucesso: 10141949
Registro inserido com sucesso: 10142088
Registro inserido com sucesso: 10142299
Registro inserido com sucesso: 10142319
Registro inserido com sucesso: 10142544
Registro inserido com sucesso: 10143064
Registro inserido com sucesso: 10143106
Registro inserido com sucesso: 10143312
Registro inserido com sucesso: 10143333
Registro inserido com sucesso: 10141578
Registro inserido com sucesso: 10141749
Registro inserido com sucesso: 10142329
Registro inserido com sucesso: 10142344
Registro inserido com sucesso: 10142690
Registro inserido com sucesso: 10142699
Registro inserido com sucesso: 10142715
Registro inserido com sucesso: 10141588
Registro inserido com sucesso: 10142745
Registro inserido com sucesso: 10142463
Registro inserido com sucesso: 10143145
Registro inserido com sucesso: 10143246
Registro inserido com sucesso: 10141928
Registro inserido com sucesso: 10142254
Registro inserido com sucesso: 10142505
Registro inserido com sucesso: 10141542
Registro inserido com sucesso: 10141685
Registro inserido com sucesso: 10141726
Registro inserido com sucesso: 10141759
Registro inserido com sucesso: 10142077
Registro inserido com sucesso: 10142124
Registro inserido com sucesso: 10143353
Registro inserido com sucesso: 10141876
Registro inserido com sucesso: 10141899
Registro inserido com sucesso: 10143110
Registro inserido com sucesso: 10143158
Registro inserido com sucesso: 10143159
Registro inserido com sucesso: 10141762
Registro inserido com sucesso: 10142032
Registro inserido com sucesso: 10142869
Registro inserido com sucesso: 10142020
Registro inserido com sucesso: 10142211
Registro inserido com sucesso: 10142252
Registro inserido com sucesso: 10142277
Registro inserido com sucesso: 10142127
Registro inserido com sucesso: 10142161
Registro inserido com sucesso: 10142893
Registro inserido com sucesso: 10142977
Registro inserido com sucesso: 10143062
Registro inserido com sucesso: 10143142
Registro inserido com sucesso: 10143227
Registro inserido com sucesso: 10141617
Registro inserido com sucesso: 10142393
Registro inserido com sucesso: 10142971
Registro inserido com sucesso: 10143012
Registro inserido com sucesso: 10143624
Registro inserido com sucesso: 10141760
Registro inserido com sucesso: 10141806
Registro inserido com sucesso: 10141888
Registro inserido com sucesso: 10142181
Registro inserido com sucesso: 10142352
Registro inserido com sucesso: 10142863
Registro inserido com sucesso: 10142981
Registro inserido com sucesso: 10143114

Registro inserido com sucesso: 10143535
Registro inserido com sucesso: 10142185
Registro inserido com sucesso: 10142227
Registro inserido com sucesso: 10143558
Registro inserido com sucesso: 10142601
Registro inserido com sucesso: 10142772
Registro inserido com sucesso: 10143078
Registro inserido com sucesso: 10143173
Registro inserido com sucesso: 10143530
Registro inserido com sucesso: 10141765
Registro inserido com sucesso: 10141820
Registro inserido com sucesso: 10142126
Registro inserido com sucesso: 10142267
Registro inserido com sucesso: 10142664
Registro inserido com sucesso: 10142727
Registro inserido com sucesso: 10143345
Registro inserido com sucesso: 10143460
Registro inserido com sucesso: 10141763
Registro inserido com sucesso: 10142046
Registro inserido com sucesso: 10142408
Registro inserido com sucesso: 10142576
Registro inserido com sucesso: 10142819
Registro inserido com sucesso: 10143087
Registro inserido com sucesso: 10143464
Registro inserido com sucesso: 10141538
Registro inserido com sucesso: 10141656
Registro inserido com sucesso: 10141778
Registro inserido com sucesso: 10142003
Registro inserido com sucesso: 10142040
Registro inserido com sucesso: 10142621
Registro inserido com sucesso: 10142663
Registro inserido com sucesso: 10141560
Registro inserido com sucesso: 10142072
Registro inserido com sucesso: 10142286
Registro inserido com sucesso: 10142466
Registro inserido com sucesso: 10143067
Registro inserido com sucesso: 10143595
Registro inserido com sucesso: 10142416
Registro inserido com sucesso: 10142475
Registro inserido com sucesso: 10142522
Registro inserido com sucesso: 10142881
Registro inserido com sucesso: 10143184
Registro inserido com sucesso: 10143307